{% extends 'adminlte/base.html' %}
{% load static %}

{% block title %}
Analyse
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row pt-3">
    <p>
      NOTE: The visualization provided here are based on <a href="">this</a> dataset.
    </p>
  </div>
  <div class="row mt-2">
    <div class="col-sm-12">
      <ul class="list-group list-group-horizontal-xl">
        <li class="list-group-item">
          <span>
            <select class="custom-select" name="year" id="yearFrom" value="2021" onclick="yearFromSelect();">
              <option value="2021">From</option>
            </select>
          </span>
          <span>
            <!-- <label for="year"></label> -->
            <select class="custom-select mt-2" name="year" id="yearTo" onclick="yearToSelect();">
              <option value="2021"> To </option>
            </select>
          </span>
        </li>
        <li class="list-group-item">
          <span>
            <!-- <label for="year"></label> -->
            <select class="custom-select" name="year" id="standardType" onclick="standardSelect();">
              <option value="2021"> Standard </option>
            </select>
          </span>
          <span>
            <!-- <label for="year"></label> -->
            <select class="custom-select mt-2" name="station" id="station" onclick="stationSelect();">
              <option value="2021"> Station </option>
            </select>
          </span>
        </li>
        <li class="list-group-item">
          <span>
            <!-- <label for=""></label> -->
            <select class="custom-select" name="year" id="f1" onclick="selectFeature1();">
              <option value="">On X</option>
            </select>
          </span>
          <span>
            <!-- <label for=""></label> -->
            <select class="custom-select mt-2" name="year" id="f2" onclick="selectFeature2();">
              <option value="">On Y</option>
            </select>
          </span>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2">
            <button class="btn btn-outline-primary" id="getValue" onclick="return plotFromCSV();">Filter</button>
          </div>
          <div class="col-sm-2 mt-2">
            <button class="btn btn-outline-primary " id="mapButton" onclick="return showMap();">Map</button>
          </div>
        </li>
      </ul>
    </div>
  </div>



  <!----------2nd row----------------->
  <div class="row">
    <div class="col-sm-6">
      <span>
        <div class="mt-5" id="plot">

        </div>
      </span>
    </div>
    <div class="col-sm-6">
      <span>
        <div class="mt-5" id="plot2">

        </div>
      </span>
    </div>
    <div class="col-*-*"></div>
  </div>

  <!-------------3rd row----------------------->
  <div class="row">
    <div class="col-sm-6 my-auto">
      <span class="align-middle">
        <div class="mt-5" id="des1">
          <p class="text-justify mx-auto"></p>
        </div>
      </span>
    </div>

    <div class="col-sm-6 my-auto">
      <span class="align-middle">
        <div class="mt-5" id="des2">
          <p class="text-justify"></p>
        </div>
      </span>
    </div>
    <div class="col-sm-2 my-auto">
    </div>

  </div>
  <!-- ---------------4th row--------------- -->
  <div class="row">
    <div class="col-sm-12 my-auto">
      <div id="plotInRow" class="mt-3">
        <!-- plot selected x and y here -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 my-auto">
      <span class="align-middle">
        <div class="mt-5" id="des3">
          <p class="text-justify mx-auto"></p>
        </div>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 my-auto">

      <span>

        <div class="mt-2" id="map" style="width: 100%; height: 400px;">

        </div>
      </span>

    </div>
  </div>

</div>

<!---------------single year filter------------------->
<!--        <div class="row mt-3">-->
<!--      <div class="col-sm-12">-->
<!--          <ul class="list-group list-group-horizontal-xl">-->
<!--              <li class="list-group-item">-->
<!--                  <span>-->
<!--                      <select class="custom-select"  name="year" id="year_map" value="2021" onclick="yearFromSelect();">-->
<!--                          <option value="2021">Year</option>-->
<!--                      </select>-->
<!--                  </span>-->

<!--              </li>-->
<!--              <li class="list-group-item">-->

<!--                  <span>-->
<!--                      &lt;!&ndash; <label for="year"></label> &ndash;&gt;-->
<!--                      <select class="custom-select mt-2" name="station" id="station_map" onclick="stationSelect();">-->
<!--                        <option value="2021"> Station </option>-->
<!--                      </select>-->
<!--                    </span>-->
<!--              </li>-->
<!--&lt;!&ndash;              <li class="list-group-item">&ndash;&gt;-->
<!--&lt;!&ndash;                  <span>&ndash;&gt;-->
<!--&lt;!&ndash;                      &lt;!&ndash; <label for=""></label> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                      <select class="custom-select" name="year" id="f1" onclick="selectFeature1();">&ndash;&gt;-->
<!--&lt;!&ndash;                        <option value="">On X</option>&ndash;&gt;-->
<!--&lt;!&ndash;                      </select>&ndash;&gt;-->
<!--&lt;!&ndash;                  </span>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span>&ndash;&gt;-->
<!--&lt;!&ndash;                      &lt;!&ndash; <label for=""></label> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                      <select class="custom-select mt-2" name="year" id="f2" onclick="selectFeature2();">&ndash;&gt;-->
<!--&lt;!&ndash;                        <option value="">On Y</option>&ndash;&gt;-->
<!--&lt;!&ndash;                      </select>&ndash;&gt;-->
<!--&lt;!&ndash;                  </span>&ndash;&gt;-->
<!--&lt;!&ndash;              </li>&ndash;&gt;-->
<!--              <li class="list-group-item">-->

<!--                    <div class="col-sm-2 mt-2">-->
<!--                      <button class="btn btn-outline-primary " id="show_in_map" onclick="return showMap();">Map</button>-->
<!--                    </div>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->




{% endblock %}

{% block javascriptedit %}
<script type="text/javascript" src="static/admin-lte/dist/js/analysis.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet" />
<script>
  $(document).ready(function () {
    let yearFrom = document.getElementById('yearFrom');
    let yearTo = document.getElementById('yearTo');
    let f1 = document.getElementById('f1');
    let f2 = document.getElementById('f2');
    let des1 = document.getElementById('dec1');
    let des2 = document.getElementById('dec2');
    let standard_type = document.getElementById('standardType');
    let station_id = document.getElementById('station');

    csrftoken = document.cookie.split('=')[1];
    data = {'yearFrom':yearFrom.value, 'yearTo':yearTo.value, 'f1':f1.value, 'f2':f2.value};
    $('#getValue').click(function(){
      $.ajax({
              type: 'POST',
              url: '/analysisFilterData',
              data: data,
              // contentType: false,
              // processData: false,
              headers: { "X-CSRFToken": csrftoken },

              success: function (data) {
                console.log(data.staus);
              },
              error: function (error) {
                  console.log("Error" + JSON.stringify(error));
              }
      });
    });
  });
</script>
{% endblock %}

