{% extends 'adminlte/base.html' %}
{% load static %}

{% block title %}
Analyse
{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row pt-3">

    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="historicaldata" onclick="historicaldata()" checked/>
      <label class="form-check-label" for="flexRadioDefault1"> Analyse our historical data</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="customdata" onclick="customdata()"/>
        <label class="form-check-label" for="flexRadioDefault2"> Analyse your own data </label>
    </div>

  </div>
  <div class="row mt-2" id="filteroptions">
    <div class="col-sm-12">
      <ul class="list-group list-group-horizontal-xl">
        <li class="list-group-item">
          <span>
            <select class="custom-select" name="year" id="yearFrom" value="2021" onclick="">
              <option value="2021">From year</option>
            </select>
          </span>
          <span>
            <!-- <p id="fromyearlabel"></p> -->
            <select class="custom-select mt-2" name="year" id="yearTo" onclick="">
              <option value="2021">To year</option>
            </select>
          </span>
        </li>
        <li class="list-group-item">
          <span>
            <!-- <label for="year"></label> -->
            <select class="custom-select" name="year" id="standardType" >
              <option value="2021"> Standard </option>
            </select>
          </span>
          <span>
            <!-- <label for="year"></label> -->
            <select class="custom-select mt-2" name="station" id="station" >
              <option value="2021"> Station </option>
            </select>
          </span>
        </li>
        <li class="list-group-item">
          <span>
            <!-- <label for=""></label> -->
            <select class="custom-select" name="year" id="f1">
              <option value="">On X</option>
            </select>
          </span>
          <span>
            <!-- <label for=""></label> -->
            <select class="custom-select mt-2" name="year" id="f2">
              <option value="">On Y</option>
            </select>
          </span>
        </li>
        <li class="list-group-item">
          <div class="col-sm-2">
            <button class="btn btn-outline-primary" id="getValue" onclick="return plotFromCSV();">Filter</button>
          </div>
          <div class="col-sm-2 mt-2">
            <!-- <button class="btn btn-outline-primary " id="mapButton" onclick="">Map</button> -->
          </div>
        </li>
      </ul>
    </div>
  </div>


  <!----------2nd row----------------->
  <div class="row">
    <p class="mt-2" id="showfilteroption" style="color: slateblue;"></p>

    <div class="col-sm-6">
      <span>
        <div class="mt-5" id="plot">

        </div>
      </span>
    </div>
    <div class="col-sm-6">
      <span>
        <div class="mt-5" id="plot2">

        </div>
      </span>
    </div>
    <div class="col-*-*"></div>
  </div>

  <!-------------3rd row----------------------->
  <div class="row">
    <div class="col-sm-6 my-auto">
      <span class="align-middle">
        <div class="mt-5" id="des1">
          <p class="text-justify mx-auto"></p>
        </div>
      </span>
    </div>

    <div class="col-sm-6 my-auto">
      <span class="align-middle">
        <div class="mt-5" id="des2">
          <p class="text-justify"></p>
        </div>
      </span>
    </div>
    <div class="col-sm-2 my-auto">
    </div>

  </div>
  <!-- ---------------4th row--------------- -->
  <div class="row">
    <div class="col-sm-12 my-auto">
      <div id="plotInRow" class="mt-3">
        <!-- plot selected x and y here -->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 my-auto">
      <span class="align-middle">
        <div class="mt-5" id="des3">
          <p class="text-justify mx-auto"></p>
        </div>
      </span>
    </div>
  </div>
  <hr>
  <div class="row mt-3">
    <div class="col-sm-2 pt-6 pl-5">
      <span>
        <select class="custom-select yearFrom" name="year" id="mapyearselect" value="2021" onclick="">
          <option value="2021">year</option>
        </select>
      </span>  
      <span>
        {% if error %}
          <p style="color: red">{{error}}</p> 
        {% else %}
          <p>Showing result for year {{year}}</p>
        {% endif %}
      </span> 
    </div>
    <div class="col-sm-2">
      <form action="/advanced">
        <button type="submit" class="btn btn-primary">Get</button>
      </form>
    </div>
  </div>
  <div class="row ">
      <div class="col-sm-12 my-auto">
        <span id="map">
          <div class='mt-2' >{{m | safe}}</div>
        </span>
      </div> 
  </div>

</div>

<!---------------single year filter------------------->
<!--        <div class="row mt-3">-->
<!--      <div class="col-sm-12">-->
<!--          <ul class="list-group list-group-horizontal-xl">-->
<!--              <li class="list-group-item">-->
<!--                  <span>-->
<!--                      <select class="custom-select"  name="year" id="year_map" value="2021" onclick="yearFromSelect();">-->
<!--                          <option value="2021">Year</option>-->
<!--                      </select>-->
<!--                  </span>-->

<!--              </li>-->
<!--              <li class="list-group-item">-->

<!--                  <span>-->
<!--                      &lt;!&ndash; <label for="year"></label> &ndash;&gt;-->
<!--                      <select class="custom-select mt-2" name="station" id="station_map" onclick="stationSelect();">-->
<!--                        <option value="2021"> Station </option>-->
<!--                      </select>-->
<!--                    </span>-->
<!--              </li>-->
<!--&lt;!&ndash;              <li class="list-group-item">&ndash;&gt;-->
<!--&lt;!&ndash;                  <span>&ndash;&gt;-->
<!--&lt;!&ndash;                      &lt;!&ndash; <label for=""></label> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                      <select class="custom-select" name="year" id="f1" onclick="selectFeature1();">&ndash;&gt;-->
<!--&lt;!&ndash;                        <option value="">On X</option>&ndash;&gt;-->
<!--&lt;!&ndash;                      </select>&ndash;&gt;-->
<!--&lt;!&ndash;                  </span>&ndash;&gt;-->
<!--&lt;!&ndash;                  <span>&ndash;&gt;-->
<!--&lt;!&ndash;                      &lt;!&ndash; <label for=""></label> &ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                      <select class="custom-select mt-2" name="year" id="f2" onclick="selectFeature2();">&ndash;&gt;-->
<!--&lt;!&ndash;                        <option value="">On Y</option>&ndash;&gt;-->
<!--&lt;!&ndash;                      </select>&ndash;&gt;-->
<!--&lt;!&ndash;                  </span>&ndash;&gt;-->
<!--&lt;!&ndash;              </li>&ndash;&gt;-->
<!--              <li class="list-group-item">-->

<!--                    <div class="col-sm-2 mt-2">-->
<!--                      <button class="btn btn-outline-primary " id="show_in_map" onclick="return showMap();">Map</button>-->
<!--                    </div>-->
<!--              </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </div>-->




{% endblock %}

{% block javascriptedit %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'admin-lte/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin-lte/bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script type="text/javascript" src="static/admin-lte/dist/js/analysis.js"></script>
<script src="{% static 'admin-lte/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin-lte/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet" />

<!-- Core plugin JavaScript-->
<script src="{% static 'admin-lte/bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'admin-lte/bootstrap/js/sb-admin-2.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js "></script>
<script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
<script src="https://js.arcgis.com/4.23/"></script>
<script src="{% static 'admin-lte/assets/js/arcgisjs/arcgisjs.js' %} "></script>
<script>
      
  let dataColumns = ['Year', 'Month', 'Nitrogen_Kjeldahl',
        'TotalSuspendedSolids', 'Nitrate', 'Conductivity', 'DissolvedOxygen',
        'pH', 'TotalNitrogen', 'Nitrite', 'TotalPhosphorus', 'Chloride',
        '10mLandCover_AgriculturalExtraction', '10mLandCover_Anthropogenic',
        '10mLandCover_AnthropogenicNatural', '10mLandCover_Natural', 'Latitude',
        'Longitude', '250mLandCover_Agricultural',
        '250mLandCover_Anthropogenic', '250mLandCover_Natural',
        'Total Rain (mm) 0day Total', 'Total Rain (mm) -7day Total',
        'Total Rain (mm) -56day Total', 'Total Rain (mm) -3day Total',
        'Total Rain (mm) -28day Total', 'Total Rain (mm) -1day Total',
        'Total Rain (mm) -14day Total'];

  // let standardType = ["ODWQS", "WHO"];

  let stations = [28, 29, 30, 85, 3007703502, 6010400102, 6010400802, 6010700202,
        6010800102, 6010800202, 6011100102, 6011100202, 6011100302,
        6011100502, 6011100602, 6011100702, 6011100802, 6011200302,
        6011200602, 6011600102, 6011600202, 6011600502, 6011600602, 988,
        1328, 1329, 1330, 17002113602, 17002113702, 600010258, 600010708,
        600013587, 6008000602, 6008000702, 6008200302, 6008300202,
        6008300402, 6008300902, 6008301202, 6008301802, 6008301902,
        6008310302, 6008310402, 6008500302, 6008500402, 6008501402,
        6009400202, 6009700302, 6009700702, 6009701102, 6009701302,
        6009701802, '6009701802', '6010400102', '6010400802', '6010402302',
        '6010402502', '6010402602', '6010402702', '6010402802',
        '6010402902', '6010403702', '6010700202', '7th Concession', '85',
        'Annadale', 'Brock Ridge', 'CC005', 'Central 1', 'Central 10',
        'Central 11', 'Central 12', 'Central 2', 'Central 3', 'Central 4',
        'Central 5', 'Central 6', 'Central 7', 'Central 8', 'Central 9',
        'East 1', 'East 10', 'East 11', 'East 12', 'East 2', 'East 3',
        'East 4', 'East 5', 'East 6', 'East 7', 'East 8', 'East 9',
        'FB003WM', 'PT001WM', 'Paulyn Park', 'Shoal Point', 'West 1',
        'West 10', 'West 11', 'West 12', 'West 2', 'West 3', 'West 4',
        'West 5', 'West 6', 'West 7', 'West 8', 'West 9'];

  $(document).ready(function () {
    plotFromCSV();
    let yearFrom = document.getElementById('yearFrom');
    let yearTo = document.getElementById('yearTo');
    let f1 = document.getElementById('f1');
    let f2 = document.getElementById('f2');
    let des1 = document.getElementById('dec1');
    let des2 = document.getElementById('dec2');
    // let standard_type = document.getElementById('standardType');
    let station_id = document.getElementById('station');
    var standardropdown = standardDropdownBox();
    var yearfromDropDown = yearFromDropDown();
    var yeartoDropDown = yearToDropDown();
    var stationSelectbox = stationIdSelectbox();
    var f1selectbox = f1Selectbox();
    var f2selectbox = f2Selectbox();
    var mapselectdropdown = mapSelectDropDown();
    $("#standardType").html(standardropdown);
    $("#yearFrom").html(yearfromDropDown);
    $("#yearTo").html(yeartoDropDown);
    $("#station").html(stationSelectbox);
    $("#f1").html(f1selectbox);
    $("#f2").html(f2selectbox);
    $("#mapyearselect").html(mapselectdropdown);
    csrftoken = document.cookie.split('=')[1];
    data = {'yearFrom':yearFrom.value, 'yearTo':yearTo.value, 'f1':f1.value, 'f2':f2.value};
    $('#getValue').click(function(){
      $.ajax({
              type: 'POST',
              url: '/analysisFilterData',
              data: data,
              // contentType: false,
              // processData: false,
              headers: { "X-CSRFToken": csrftoken },

              success: function (data) {
                console.log(data.staus);
              },
              error: function (error) {
                  console.log("Error" + JSON.stringify(error));
              }
      });
    });

    // $(document).on('click', '#f1', function(){
    //     var selectboxreturn = "<option value='' selected>On X</option>";
    //     $(dataColumns).each((index, element) => {
    //         // console.log(`current index : ${index} element : ${element}`)
    //         selectboxreturn += "<option value='"+element+"'>"+element+"</option>";
    //     });
    //     $("#f1").html(selectboxreturn);
    // });

    // $(document).on('click', '#f2', function(){
    //     var selectboxreturn = "<option value='' selected>On Y</option>";
    //     $(dataColumns).each((index, element) => {
    //         // console.log(`current index : ${index} element : ${element}`)
    //         selectboxreturn += "<option value='"+element+"'>"+element+"</option>";
    //     });
    //     $("#f2").html(selectboxreturn);
    // });

    // $(document).on('click', '#standardType', function(){
    //     var selectboxreturn = "<option value='' selected>Standard</option>";
    //     $(standardType).each((index, element) => {
    //         // console.log(`current index : ${index} element : ${element}`)
    //         selectboxreturn += "<option value='"+element+"'>"+element+"</option>";
    //     });
    //     $("#standardType").html(selectboxreturn);
    // });

    // $(document).on('click', '#station', function(){
    //     var selectboxreturn = "<option value='' selected>Station</option>";
    //     $(stations).each((index, element) => {
    //         // console.log(`current index : ${index} element : ${element}`)
    //         selectboxreturn += "<option value='"+element+"'>"+element+"</option>";
    //     });
    //     $("#station").html(selectboxreturn);
    // });

    // $(document).on('click', '#yearFrom', function(){
    //   let currentYear = new Date().getFullYear();
    //   let earliestYear = 2000;
    //     var selectboxreturn = "<option value='' selected disabled>From year</option>";
    //     while (currentYear >= earliestYear) {
    //       selectboxreturn += "<option value='"+currentYear+"'>"+currentYear+"</option>";
    //       currentYear -= 1;
    //     }
    //     $("#yearFrom").html(selectboxreturn);
    // });
    // $("#yearFrom").change(function () {
    //     console.log("yearFrom === ",$(this).val());
    //     var yearFrom = $(this).val();
    // });

    // $(document).on('click', '#yearTo', function(){
    //   let currentYear = new Date().getFullYear();
    //   let earliestYear = 2000;
    //     var selectboxreturn = "<option value='' selected disabled>To year</option>";
    //     while (currentYear >= earliestYear) {
    //       selectboxreturn += "<option value='"+currentYear+"'>"+currentYear+"</option>";
    //       currentYear -= 1;
    //     }
    //     $("#yearTo").html(selectboxreturn);
    // });

  });
</script>
{% endblock %}

