{% load static %}
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Contact Us</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
	<link href="{% static 'admin-lte/assets/css/css_loginmodal/style.css' %}" rel="stylesheet">
	<link href="{% static 'admin-lte/bootstrap/css/sb-admin-2.min.css' %}" rel="stylesheet">

	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
	<style>
		body {
			font-family: Poppins;
			font-style: normal;
			font-weight: bold;
		}
		
		.footerclick {
			cursor:pointer;
		}
	</style>

</head>

<body>
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">
			<a class="navbar-brand" href="/in_dex">
				<img src="static/admin-lte/assets/img/new_d/logo_ec.png" alt="" width="200" height="55">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<ul class="navbar-nav w-50">
					<li class="nav-item col">
						<a class="nav-link text-primary" href="/in_dex">Home</a>
					</li>
					<li class="nav-item col">
						<a class="nav-link text-primary" aria-current="page" href="dexterity">DeX-Terity</a>
					</li>
					<li class="nav-item col">
						<a class="nav-link active" href="contactus">Contact us</a>
					</li>
					<li class="nav-item col">
						<a style="font-size: 16px;" class="btn btn-primary rounded-pill w-75 js-signin-modal-trigger"
							href="#0" data-signin="login">Login</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- login modal -->
	<div class="cd-signin-modal js-signin-modal">
		<!-- this is the entire modal form, including the background -->
		<div class="cd-signin-modal__container">
			<!-- this is the container wrapper -->
			<div class="row pt-5 pb-5">
				<span width="200" height="60">
					<img class="rounded mx-auto d-block" src="static/admin-lte/assets/img/new_d/logo_ec.png" alt="">
				</span>
			</div>
			<ul
				class="list-group-horizontal cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger">
				<li class="list-group-item"><a href="#0" data-signin="login" data-type="login">Sign in</a></li>
				<li class="list-group-item"><a href="#0" data-signin="signup" data-type="signup">New account</a></li>
			</ul>

			<div class="cd-signin-modal__block js-signin-modal-block" data-type="login">
				<!-- log in form -->
				<form class="cd-signin-modal__form" id="signInFormId">
					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
							for="signin-email">E-mail</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							type="text" placeholder="Enter Username/ E-mail address" name="emailaddress"
							id="loginemailaddress">

					</p>

					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
							for="signin-password">Password</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							type="password" placeholder="Enter your password" name="password" id="loginpassword">
						<a href="#0" class="cd-signin-modal__hide-password js-hide-password">Show</a>

					</p>

					<p style="color:red" id="loginfailedorsuccess">Login credentials failed</p>

					<p class="cd-signin-modal__fieldset">
						<input type="checkbox" id="remember-me" checked class="cd-signin-modal__input ">
						<label for="remember-me">Remember me</label>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input style="background: #165DA9;"
							class="cd-signin-modal__input cd-signin-modal__input--full-width" type="submit"
							value="Login" id="logintoconsole">
					</p>
				</form>

				<p class="mt-5 cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0"
						data-signin="reset">Forgot your password?</a></p>
			</div> <!-- cd-signin-modal__block -->
			<div class="cd-signin-modal__block js-signin-modal-block" data-type="signup">
				<!-- sign up form -->
				<form class="cd-signin-modal__form" id="signupform">
					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace"
							for="signup-username">Username</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							id="signup-username" type="text" placeholder="Username" name="displayusername">

					</p>

					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
							for="signup-email">E-mail</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							id="signup-email" type="email" placeholder="E-mail" name="emailaddress">

					</p>

					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
							for="signup-password">Password</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							id="signup-password" type="password" placeholder="Password" name="password">
						<a href="#0" class="cd-signin-modal__hide-password js-hide-password">Show</a>

					</p>

					<p id="usernamealreadyexists" style="color:red">Username Exists. Please try another username</p>
					<p id="useremailalreadyexists" style="color:red">Mail-id is already in use. Please try using another
						e-mail address</p>
					<p id="usercreated" style="color:green">User successfully created. Please sign-in using your new
						credentials</p>

					<p class="cd-signin-modal__fieldset">
						<input type="checkbox" id="accept-terms" class="cd-signin-modal__input ">
						<label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input style="background: #165DA9;"
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding"
							type="submit" value="Create account" id="addnewuser">
					</p>
				</form>
			</div> <!-- cd-signin-modal__block -->

			<div class="cd-signin-modal__block js-signin-modal-block" data-type="reset">
				<!-- reset password form -->
				<p class="mt-4 cd-signin-modal__message">Lost your password? Please enter your email address. You will
					receive a link to create a new password.</p>

				<form class="cd-signin-modal__form">
					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
							for="reset-email">E-mail</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							id="reset-email" type="email" placeholder="E-mail">

					</p>

					<p class="cd-signin-modal__fieldset">
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding"
							type="submit" value="Reset password">
					</p>
				</form>

				<p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="login">Back
						to log-in</a></p>
			</div> <!-- cd-signin-modal__block -->
			<a href="#0" class="cd-signin-modal__close js-close">Close</a>
		</div> <!-- cd-signin-modal__container -->
	</div> <!-- cd-signin-modal -->


	<div class="container-fluid" data-aos="fade-up" style="padding-top: 5%;">
		<div class="row w-100 p-4 d-flex justify-content-center pb-4" data-aos="fade-up" data-aos-delay="100">
				<h2 class="text-center text-primary font-weight-bold">Get In Touch</h3>
			<form style="width: 25%;">
				<!-- Name input -->
				<div class="form-outline mb-4">
				  <input type="text" id="form4Example1" class="form-control" />
				  <label class="form-label" for="form4Example1">Name</label>
				</div>
			  
				<!-- Email input -->
				<div class="form-outline mb-4">
				  <input type="email" id="form4Example2" class="form-control" />
				  <label class="form-label" for="form4Example2">Email address</label>
				</div>
			  
				<!-- Message input -->
				<div class="form-outline mb-4">
				  <textarea class="form-control" id="form4Example3" rows="4"></textarea>
				  <label class="form-label" for="form4Example3">Message</label>
				</div>
			  
				<!-- Checkbox -->
				<!-- <div class="form-check d-flex justify-content-center mb-4">
				  <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
				  <label class="form-check-label" for="form4Example4">
					Send me a copy of this message
				  </label>
				</div>-->
				<!-- Submit button -->
				<button class="btn btn-primary mb-4 p-3" style="font-size: 15px;"> Send </button>
			  </form>

			<!-- <div class="col-lg-6">
				<iframe class="mb-4 mb-lg-0"
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11523.76084718353!2d-79.33659796681101!3d43.77409990994631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d3bca1a3f78f%3A0x815365ed6c3b957e!2sLambton%20College%20In%20Toronto!5e0!3m2!1sen!2sin!4v1652037250936!5m2!1sen!2sin"
					frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
			</div> -->

		</div>

	</div>
	<div class="container-fluid mt-5 text-white" style="background-color: #165DA9;">
		<div class="row text-center">
			<div class="col">
				<div class="m-5"><img class="img-fluid" src="static/admin-lte/assets/img/new_d/logo.png"></div>
				<div class="row m-5">
					<div class="col">
						<i class="bi bi-facebook fs-1"></i>
					</div>
					<div class="col">
						<i class="bi bi-twitter fs-1"></i>
					</div>
					<div class="col">
						<i class="bi bi-linkedin fs-1"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="row m-5">
					<ul>
						<li class="list-group-item footerclick"><a href="/in_dex" style="color:white">See DeX-Terity</a></li>
						<li class="list-group-item footerclick"><a href="/contactus" style="color:white">Contact Us</a></li>
					</ul>
				</div>
			</div>
			<div class="col">
				<div class="row m-5">
					<ul>
						<li class="list-group-item footerclick">Privacy Policy</li>
						<li class="list-group-item footerclick">Terms of Service</li>
						<li class="list-group-item footerclick">About Us</li>
					</ul>
				</div>
			</div>
			<div class="col d-flex justify-content-center">
				<div class="row mx-5 my-3" style="background-color:white;">
					<div class="col col-12 mb-3">
						<!-- <p class="text-primary mt-2 text-start">Powered by:</p> -->
					</div>
					<div class="col col-12">
						<img class="img-fluid" src="static/admin-lte/assets/img/new_d/CGLR_logo.png">
					</div>
					<div class="col col-12 mt-3 mb-3">
						<img class="img-fluid" src="static/admin-lte/assets/img/new_d/pollution_probe.png">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid p-0">
		<div class="row">
			<h6 class=" my-3 text-center fw-light">&copy;
				<script>document.write(/\d{4}/.exec(Date())[0])</script> All Rights Reserved.
			</h6>
		</div>
	</div>

	<script src="{% static 'admin-lte/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'admin-lte/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	<!-- Core plugin JavaScript-->
	<script src="{% static 'admin-lte/bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

	<!-- Custom scripts for all pages-->
	<script src="{% static 'admin-lte/bootstrap/js/sb-admin-2.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js "></script>
	<script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
	<script src="https://js.arcgis.com/4.23/"></script>
	<script src="{% static 'admin-lte/assets/js/arcgisjs/arcgisjs.js' %} "></script>
	<script src="{% static 'admin-lte/assets/js/js_loginmodal/main.js' %}"></script>
	<script src="{% static 'admin-lte/assets/js/js_loginmodal/placeholders.min.js' %}"></script>
	<script src="{% static 'admin-lte/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
	<script>
		$(document).ready(function () {
			$(".messageloading").hide();
			$("#loginfailedorsuccess").hide();
			$("#usernamealreadyexists").hide();
			$("#useremailalreadyexists").hide();
			$("#usercreated").hide();

			$(document).on('click', "#logintoconsole", function () {
				$("#loginfailedorsuccess").hide();
				var loginemailaddress = $("#loginemailaddress").val();
				var loginpassword = $("#loginpassword").val();
				// console.log(formdata);
				$.ajax({
					type: 'POST',
					url: '/loginUsingUserCredentials/',
					data: $("#signInFormId").serialize(),
					// headers: { "X-CSRFToken": csrftoken },
					success: function (data) {
						if (data.status === 'success') {
							window.location.href = window.location.origin + '/new_dashboard';
						} else {
							$("#loginfailedorsuccess").show();
						}
					},
					error: function (error) {
						console.log("Error" + JSON.stringify(error));
					}
				});
			});

			$(document).on('click', '#addnewuser', function (e) {
				$("#usernamealreadyexists").hide();
				$("#useremailalreadyexists").hide();
				$("#usercreated").hide();
				$("#loginfailedorsuccess").hide();
				let isagreementChecked = $('#accept-terms')[0].checked
				var username = $("#signup-username").val();
				var emailaddress = $("#signup-email").val();
				var password = $("#signup-password").val();
				var agreetoterms = $("#accept-terms").val();
				var teststring = containsSpecialCharacters(username);

				if (isagreementChecked == true) {
					if (teststring == false) {
						if (username === '' || emailaddress === '' || password === '') {
							alert("All the fields must be filled");
						} else {
							$.ajax({
								type: 'POST',
								url: '/addNewUser/',
								data: $("#signupform").serialize(),
								success: function (data) {
									if (data.status === "useremailexists") {
										$("#useremailalreadyexists").show();
									} else if (data.status === "displayuserexists") {
										$("#usernamealreadyexists").show();
									}
									else if (data.status === "success") {
										$("#usercreated").show();
										$("#loginemailaddress").val("");
										$("#loginpassword").val("");
										$("#signup-username").val("");
										$("#signup-email").val("");
										$("#signup-password").val("");
									}
								},
								error: function (error) {
									alert("Error" + JSON.stringify(error));
								}
							});
						}
					} else {
						alert("The username cannot contain special characters");
					}
				} else {
					alert("You should agree to the terms and conditions")
				}
				console.log("I am in here");
			});
		});

		function containsSpecialCharacters(str) {
			var regex = /[ !@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/g;
			return regex.test(str);
		}
	</script>

</body>

</html>