{% extends 'adminlte/new_dashboard_base.html' %}

{% load static %}
{% block content %}

    <div class="row">
        <img src="static/admin-lte/assets/img/new_d/Screen_Shot_2022-06-16_at_8564.png" alt="Responsive image" style="width:100%; object-fit: cover;">
    </div>

    <div class="container mt-4 mb-5">
        <div class="row">
            <h1 class="text-primary font-weight-bold">
                Data Platform
            </h1>
        </div>
        <div class="row">
            <h2 class="text-primary font-weight-normal">
                Map Tool
            </h2>
            <p class="text-secondary font-weight-light">
                Learn about our pilot region using data from the Central Lake Ontario Conservation Area (CLOCA)
                and the Toronto and Region Conservation Authority (TRCA).
            </p>
            <ol class="font-weight-light">
                <li>Select year for navigation</li>
                <li>Explore layers on the map</li>
                <li>Get information about specific stations</li>
            </ol>
        </div>
        <div class="row mt-5">
            <h2 class="text-primary font-weight-normal">
                Model Info, Important aspects.
            </h2>
            <p class="text-secondary font-weight-light">
                Outliers & Correlation charts of data will be here
            </p>
        </div>
        
        <div class="row text-center mt-5">
			<div class="col col-lg-10 offset-lg-1">
				<h1 class="gy-5 text-blue-primary m-5">Data Sources</h1>
				<div class="row">
					<div class="col">
						<h6>CLCC Water Quality Data</h6>
						<p><img class="img-fluid" src="static/admin-lte/assets/img/new_d/Screen_Shot_2022-06-15_at_1027.png"></p>
						<p class="m-3">
							<button class="btn btn-primary rounded-pill" type="button"><h6 class="mx-3">Read more</h6></button>
						</p>
					</div>
					<div class="col">
						<h6>CLCC Water Quality Data</h6>
						<p><img class="img-fluid" src="static/admin-lte/assets/img/new_d/Screen_Shot_2022-06-15_at_1027_b.png"></p>
						<p class="m-3">
							<button class="btn btn-primary rounded-pill" type="button"><h6 class="mx-3">Read more</h6></button>
						</p>
					</div>
					<div class="col">
						<h6>CLCC Water Quality Data</h6>
						<p><img class="img-fluid" src="static/admin-lte/assets/img/new_d/Screen_Shot_2022-06-15_at_1027_ca.png"></p>
						<p class="m-3">
							<button class="btn btn-primary rounded-pill" type="button"><h6 class="mx-3">Read more</h6></button>
						</p>
					</div>
				</div>
			</div>
		</div>
    </div>

{% endblock %}