{% extends 'adminlte/new_dashboard_base.html' %}
{% load static %}
{% block extra_cssheader %}
<link rel="stylesheet" href="https://js.arcgis.com/4.23/esri/themes/light/main.css">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<style>
    html,
    body,
    #viewDiv {
        padding: 0;
        margin: 0;
        height: 550px;
        width: 100%;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .mx-3 {
    	margin-right: 0.5rem!important;
    	margin-left: 0.5rem!important;
		margin-top: 0.5rem!important;
		margin-bottom: 0.5rem!important;
	}

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    .box {
			position: relative;
			margin-left: 20px;
		}
		.box:before{
			position: absolute;
			left: -20px;
			content: "";
			height:20px;
			width:20px;
			margin-bottom:15px;
			border:1px solid black;
		}
		.box.agricultural:before{
			background-color:#3282bd;
		}
		.box.anthropogenic:before{
			background-color:#A52A2A;
		}
		.box.natural:before{
			background-color:#08B22B;
		}
		.box.water:before{
			background-color:#00FFFF;
		}
		.box.urban:before{
			background-color:#EBF90D;
		}
		.box.rural:before{
			background-color:#0752F6;
		}
		.box.other:before{
			background-color:#FB1102;
		}
        
</style>
{% endblock %}

{% block content %}

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-2">
            <label>Select a year</label>
            <span>
                <select class="custom-select yearFrom">

                </select>
            </span>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="row">
        <div class="col-lg-12">
            <div id="viewDiv"></div>
        </div>
    </div>


</div>

<input type="hidden" id="stationid">
<input type="hidden" id="yearselectedinputhidden" value="{{yearselected}}">

<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
</div>

<div class="modal fade" id="demographicsGraphModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Station ID: <span id="stationdisplaymodalbox"></span><span>,
                        Year:{{yearselected}}</span></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <span style="font-weight: bold;">Sampling site : </span><span id="totalsamplingsitelatitudeid"
                            style="font-weight: bold; font-family: Poppins;"></span><span style="font-weight: bold; font-family: Poppins;">&#176;N</span><span
                            id="totalsamplingsitelongitudeid" style="font-weight: bold; padding-left:5px; font-family: Poppins; "></span><span
                            style="font-weight: bold; font-family: Poppins;">&#176;W</span><br>
                        <span style="font-weight: bold; font-family: Poppins;">Total sq.km : </span><span id="totalsqkmid"
                            style="font-weight: bold; font-family: Poppins;"></span><sup style="font-weight: bold; font-family: Poppins;">2</sup><br>
                        <span style="font-weight: bold; font-family: Poppins;">Drainage basin : </span><span id="drainagebasinid"
                            style="font-weight: bold; font-family: Poppins;"></span><sup style="font-weight: bold; font-family: Poppins;">2</sup><br>
                        <span style="font-weight: bold; font-family: Poppins;">Population : </span><span id="populationid"
                            style="font-weight: bold; font-family: Poppins;"></span>
                    </div>
                </div>
                <div class="row" id="notdatafoundmodalrow">
                    <div class="col-lg-12">
                        <p style="color:red; font-family: Poppins;">No data available for this station to plot charts.</p>
                    </div>
                </div>
                <div class="row graphclass">
                    <div class="col-lg-12" id="land-usechart"></div>
                </div>
                <div class="row graphclass">
                    <div class="col-lg-12" id="soildatagraph"></div>
                </div>
                <div class="row graphclass">
                    <div class="col-lg-12"><canvas id="meantemperaturedivision"
                            style="width:100%;max-width:600px"></canvas></div>
                </div>
                <div class="row graphclass">
                    <div id="meanmaxrainfalldivision" class="col-lg-12"></div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div class="container mt-4 mb-5">
    <div class="row">
        <div class="col-lg-8">
            <h5 class="text-primary" style="font-family: Poppins;">Legend <span id="showmoreoption" style="cursor:pointer; color:black; font-size:13px"><u>Show more</u></span>
                <span id="hidemoreoption" style="cursor:pointer; color:black; font-size:13px"><u>Hide more</u></span></h5>
                <p class="showlegend" style="font-size:12px">The DeX-Terity map shows seven major land use types:</p>
				<div class="pop-over-container-hoverdemographictbl" style="cursor:pointer;"><img class="img-fluid showlegend" src="{% static 'admin-lte/dist/img/dexteritybar.svg' %}"></div>
        </div>
        <div class="col-lg-4">
            <div class="pop-over-container-abthreshold" style="cursor:pointer;"><img class="img-fluid" src="{% static 'admin-lte/dist/img/hotspot.png' %}"> Above Threshold</div>
				<div class="pop-over-container-belowthreshold" style="cursor:pointer;"><img class="img-fluid" src="{% static 'admin-lte/dist/img/normalregion.png' %}"> Below Threshold</div>
        </div>
    </div>
    <div class="row">
        <h1 class="text-primary font-weight-bold" style="font-family: Poppins;">
            Data Platform
        </h1>
    </div>
    <div class="row">
        <h2 class="text-primary font-weight-normal">
            Map Tool
        </h2>
        <p class="text-secondary font-weight-light" style="font-family: Poppins;">
            Learn about our pilot region using data from the Central Lake Ontario Conservation Area (CLOCA)
            and the Toronto and Region Conservation Authority (TRCA).
        </p>
        <ol class="font-weight-light" style="font-family: Poppins;">
            <li>Select year for navigation</li>
            <li>Explore layers on the map</li>
            <li>Get information about specific stations</li>
        </ol>
    </div>
    <div class="row mt-3">
        <h2 class="text-primary font-weight-normal">
            Model Information<br>
        </h2>
        <p class="text-secondary font-weight-light"> DeX-Terity uses machine learning modelling to predict 
            target variables of interest (e.g., Total Phosphorus or Total Nitrogen). By using historical data, 
            our models are ‘trained’ to find relationships between input variables and target variables of interest.
        </p>
        <!-- <p class="text-secondary font-weight-light">
            Random forest is a Supervised Machine Learning Algorithm that is 
            used widely in Classification and Regression problems. It builds decision trees on 
            different samples and takes their majority vote for classification and average in 
            case of regression. 
        </p>
        <p class="text-secondary font-weight-light">
            Here we have a regression problem as the target parameters to 
            predict Total Phosphorus and Total Nitrogen are continuous values, hence the 
            Random Forest Regressor model fits best to make the accurate prediction.
        </p>
        <p class="text-secondary font-weight-light">
            R2 is a measure of the goodness of fit of a model. In regression, the 
            R2 coefficient of determination is a statistical measure of how well the 
            regression predictions approximate the real data points or how well the model 
            has performed in predicting the desired results.             -->
    <!-- <div class="row mt-5">
        <h2 class="text-primary font-weight-normal" style="font-family: Poppins;">
            Model Info, Important aspects.<br>
        </h2>
    </div> -->
    <!-- <div class="row">
        <p class="text-secondary font-weight-light" style="font-family: Poppins;">
            <br>Outliers & Correlation charts of data will be here.
        </p>
    </div> -->

    <div class="container text-center my-3">
		<h1 class="gy-5 text-blue-primary m-5">Data Sources</h1>
		<div class="row mx-auto my-auto">
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="4"></li>
					<li data-target="#myCarousel" data-slide-to="5"></li>
				</ol>
				<!-- Carousal item 1 -->
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active">
						<div class="row">
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>TRCA Water Quality Data</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/waterqtytrca.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://data.trca.ca/dataset?tags=Quality','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>CLOCA Water Quality Data</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/clocawaterquality.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://open-data.cloca.com/','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Provincial Water Quality Monitoring Network Data</h6>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/provincialwaterqualitynetwork.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://data.ontario.ca/dataset/provincial-stream-water-quality-monitoring-network','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Carousal item 2-->
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Environment and Climate Change Canada</h6>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/environmentalclimatedata.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://open.canada.ca/data/en/dataset/51dbf91e-509c-437b-ab9e-eca6d0bf6fa8','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Ontario Watershed Boundaries</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/ontariowaterbodyboundaries.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://geohub.lio.gov.on.ca/maps/mnrf::ontario-watershed-boundaries-owb/explore?location=40.397199%2C-82.339420%2C2.74','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>TRCA Water Quality Data</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/waterqtytrca.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://data.trca.ca/dataset?tags=Quality','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Carousal item 3-->
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>CLOCA Water Quality Data</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/clocawaterquality.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://open-data.cloca.com/','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Provincial Water Quality Monitoring Network Data</h6>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/provincialwaterqualitynetwork.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://data.ontario.ca/dataset/provincial-stream-water-quality-monitoring-network','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Environment and Climate Change Canada</h6>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/environmentalclimatedata.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://open.canada.ca/data/en/dataset/51dbf91e-509c-437b-ab9e-eca6d0bf6fa8','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Carousal item 4-->
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Ontario Watershed Boundaries</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/ontariowaterbodyboundaries.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://geohub.lio.gov.on.ca/maps/mnrf::ontario-watershed-boundaries-owb/explore?location=40.397199%2C-82.339420%2C2.74','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>TRCA Water Quality Data</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/waterqtytrca.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://data.trca.ca/dataset?tags=Quality','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>CLOCA Water Quality Data</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/clocawaterquality.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://open-data.cloca.com/','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Carousal item 5-->
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Provincial Water Quality Monitoring Network Data</h6>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/provincialwaterqualitynetwork.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://data.ontario.ca/dataset/provincial-stream-water-quality-monitoring-network','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Environment and Climate Change Canada</h6>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/environmentalclimatedata.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://open.canada.ca/data/en/dataset/51dbf91e-509c-437b-ab9e-eca6d0bf6fa8','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Ontario Watershed Boundaries</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/ontariowaterbodyboundaries.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://geohub.lio.gov.on.ca/maps/mnrf::ontario-watershed-boundaries-owb/explore?location=40.397199%2C-82.339420%2C2.74','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev w-auto" href="#myCarousel" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next w-auto" href="#myCarousel" role="button" data-slide="next">
					<span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>


</div>

{% endblock %}

{% block javascriptedit %}
<script src="{% static 'admin-lte/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin-lte/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'admin-lte/bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'admin-lte/bootstrap/js/sb-admin-2.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js "></script>
<script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
<script src="https://js.arcgis.com/4.23/"></script>
<script src="{% static 'admin-lte/assets/js/arcgisjs/Fullarcgis.js' %} "></script>
<script>
    var jsonpointfile = {{ jsonvalue| safe }};
    $(document).ready(function () {

        $('.pop-over-container-abthreshold').popover({
            content: "This pin represents a location of interest where nutrient levels have been detected to be greater than those outlined by Ontario Drinking Water Quality standards (>0.02 mg/L phosphorus OR >10 mg/L nitrogen)",
            trigger: "hover",
            placement: "top",
            
        });

        $('.pop-over-container-belowthreshold').popover({
            content: "This pin represents a location of interest where nutrient levels have been detected to be equal or lesser than those outlined by Ontario Drinking Water Quality standards (<=0.02 mg/L phosphorus AND <=10 mg/L nitrogen)",
            trigger: "hover",
            placement: "top",
            
        });

        var hoverdemographictable = "<div><table class='table table-bordered' style='font-size: 11px;'><thead><tr><th>Land</th><th>Details</th></tr></thead><tbody><tr><td>Agricultural</td><td>Agriculture land, Crop land, Grass land, pasture land, etc</td></tr><tr><td>Anthropogenic</td><td>Airport, Athletic, Commercial, Golf facility, Industrial, etc</td></tr><tr><td>Natural</td><td>Natural forests, Coniferous forests, Mixed forests, Savannas, etc</td></tr><tr><td>Surface Water</td><td>Meadow marsh, Swamps, Fens, Aquatic, Beach, etc</td></tr><tr><td>Urban</td><td>Urban residential</td></tr></tr><tr><td>Rural</td><td>Rural residential</td></tr></tr><tr><td>Other</td><td>Aggregated land, Vacant land, Plantation, etc</td></tr></tbody></table></div>"

        $('.pop-over-container-hoverdemographictbl').popover({
            content: hoverdemographictable,
            html : true,
            trigger: "hover",
            placement: "top",
            sanitize: false
        });

        $(".showlegend").hide();
		$("#hidemoreoption").hide();

        $(document).on('click', '#showmoreoption', function () {
            $('.showlegend').show();
            $("#showmoreoption").hide();
            $("#hidemoreoption").show();
        });

        $(document).on('click', '#hidemoreoption', function () {
            $('.showlegend').hide();
            $("#showmoreoption").show();
            $("#hidemoreoption").hide();
        });

        var regionrenderurl = "{{regiondemographicrenderurl|safe}}";
        var loadingurl = "199.241.160.97";
        loadmapvalues(1, jsonpointfile, loadingurl, regionrenderurl, "{{yearselected}}", "{{ trcadurhammapcombinedurl| safe }}");

        var yearlist = ["2020", "2019", "2018", "2017", "2016", "2015", "2014", "2013", "2012", "2011", "2010", "2009", "2008", "2007", "2006", "2005", "2004", "2003", "2002"];
        yearselectbox = "<option value='' disabled selected>Select a year</option>";
        for (let j = 0; j < yearlist.length; j++) {
            if (yearlist[j] == "{{yearselected}}") {
                yearselectbox += "<option value=" + yearlist[j] + " selected>" + yearlist[j] + "</option>";
            } else {
                yearselectbox += "<option value=" + yearlist[j] + ">" + yearlist[j] + "</option>";
            }
        }

        $(".yearFrom").html(yearselectbox);

        $(document).on('change', '.yearFrom', function () {
            var yearselected = $(this).val();
            window.location.href = '/describe/' + yearselected;
        });

    });
</script>
{% endblock %}