{% load static %}

<!doctype html>
<html lang="en">
<style>
	html,
	body,
	#viewDiv,
	#hotspotDiv {
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
	}

	.float {
		position: fixed;
		width: 60px;
		height: 60px;
		bottom: 200px;
		right: 20px;
		background-color: #0C9;
		color: #FFF;
		border-radius: 50px;
		text-align: center;
		box-shadow: 2px 2px 3px #999;
		z-index: 1000;
	}

	.mx-3 {
    	margin-right: 0.5rem!important;
    	margin-left: 0.5rem!important;
		margin-top: 0.5rem!important;
		margin-bottom: 0.5rem!important;
	}

	.footerclick {
		cursor:pointer;
	}

	.my-float {
		margin-top: 22px;
	}

</style>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>DeX-Terity</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
	<link href="{% static 'admin-lte/assets/css/css_loginmodal/style.css' %}" rel="stylesheet">
	<link rel="stylesheet" href="https://js.arcgis.com/4.23/esri/themes/light/main.css">
	<!-- Favicons -->
	<link href="{% static 'admin-lte/assets/img/favicon.png' %}" rel="icon">
	<link href="{% static 'admin-lte/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
	<link href="{% static 'admin-lte/bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet"
		type="text/css">
		<link href="{% static 'admin-lte/bootstrap/css/sb-admin-2.min.css' %}" rel="stylesheet">

	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

	<style>
		body {
			font-family: Poppins;
			font-style: normal;
			font-weight: bold;
		}

		.blue-primary {
			background-color: #165DA9;
		}

		.text-blue-primary {
			color: #165DA9;
		}

		.box {
			position: relative;
			margin-left: 20px;
		}
		.box:before{
			position: absolute;
			left: -20px;
			content: "";
			height:20px;
			width:20px;
			margin-bottom:15px;
			border:1px solid black;
		}
		.box.agricultural:before{
			background-color:#3282bd;
		}
		.box.anthropogenic:before{
			background-color:#A52A2A;
		}
		.box.natural:before{
			background-color:#08B22B;
		}
		.box.water:before{
			background-color:#00FFFF;
		}
		.box.urban:before{
			background-color:#EBF90D;
		}
		.box.rural:before{
			background-color:#0752F6;
		}
		.box.other:before{
			background-color:#FB1102;
		}
	</style>

</head>

<body>
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid">
			<a class="navbar-brand" href="/in_dex">
				<img src="{% static 'admin-lte/assets/img/new_d/logo_ec.png' %}" alt="" width="200" height="55">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<ul class="navbar-nav w-50">
					<li class="nav-item col">
						<a class="nav-link text-primary" href="/in_dex">Home</a>
					</li>
					<li class="nav-item col">
						<a class="nav-link active" aria-current="page" href="/dexterity">DeX-Terity</a>
					</li>
					<li class="nav-item col">
						<a class="nav-link text-primary" href="/contactus">Contact us</a>
					</li>
					<li class="nav-item col">
						<a style="font-size: 16px;" class="btn btn-primary rounded-pill w-75 js-signin-modal-trigger"
							href="#0" data-signin="login">Login</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- login modal -->
	<div class="cd-signin-modal js-signin-modal">
		<!-- this is the entire modal form, including the background -->
		<div class="cd-signin-modal__container">
			<!-- this is the container wrapper -->
			<div class="row pt-5 pb-5">
				<span width="200" height="60">
					<img class="rounded mx-auto d-block" src="{% static 'admin-lte/assets/img/new_d/logo_ec.png' %}"
						alt="">
				</span>
			</div>
			<ul
				class="list-group-horizontal cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger">
				<li class="list-group-item"><a href="#0" data-signin="login" data-type="login">Sign in</a></li>
				<li class="list-group-item"><a href="#0" data-signin="signup" data-type="signup">New account</a></li>
			</ul>

			<div class="cd-signin-modal__block js-signin-modal-block" data-type="login">
				<!-- log in form -->
				<form class="cd-signin-modal__form" id="signInFormId">
					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
							for="signin-email">E-mail</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							type="text" placeholder="Enter Username/ E-mail address" name="emailaddress"
							id="loginemailaddress">

					</p>

					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
							for="signin-password">Password</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							type="password" placeholder="Enter your password" name="password" id="loginpassword">
						<a href="#0" class="cd-signin-modal__hide-password js-hide-password">Show</a>

					</p>

					<p style="color:red" id="loginfailedorsuccess">Login credentials failed</p>

					<p class="cd-signin-modal__fieldset">
						<input type="checkbox" id="remember-me" checked class="cd-signin-modal__input ">
						<label for="remember-me">Remember me</label>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input style="background: #165DA9;"
							class="cd-signin-modal__input cd-signin-modal__input--full-width" type="submit"
							value="Login" id="logintoconsole">
					</p>
				</form>

				<p class="mt-5 cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0"
						data-signin="reset">Forgot your password?</a></p>
			</div> <!-- cd-signin-modal__block -->
			<div class="cd-signin-modal__block js-signin-modal-block" data-type="signup">
				<!-- sign up form -->
				<form class="cd-signin-modal__form" id="signupform">
					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace"
							for="signup-username">Username</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							id="signup-username" type="text" placeholder="Username" name="displayusername">

					</p>

					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
							for="signup-email">E-mail</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							id="signup-email" type="email" placeholder="E-mail" name="emailaddress">

					</p>

					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
							for="signup-password">Password</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							id="signup-password" type="password" placeholder="Password" name="password">
						<a href="#0" class="cd-signin-modal__hide-password js-hide-password">Show</a>

					</p>

					<p id="usernamealreadyexists" style="color:red">Username Exists. Please try another username</p>
					<p id="useremailalreadyexists" style="color:red">Mail-id is already in use. Please try using another
						e-mail address</p>
					<p id="usercreated" style="color:green">User successfully created. Please sign-in using your new
						credentials</p>

					<p class="cd-signin-modal__fieldset">
						<input type="checkbox" id="accept-terms" class="cd-signin-modal__input ">
						<label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input style="background: #165DA9;"
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding"
							type="submit" value="Create account" id="addnewuser">
					</p>
				</form>
			</div> <!-- cd-signin-modal__block -->

			<div class="cd-signin-modal__block js-signin-modal-block" data-type="reset">
				<!-- reset password form -->
				<p class="mt-4 cd-signin-modal__message">Lost your password? Please enter your email address. You will
					receive a link to create a new password.</p>

				<form class="cd-signin-modal__form">
					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
							for="reset-email">E-mail</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							id="reset-email" type="email" placeholder="E-mail">

					</p>

					<p class="cd-signin-modal__fieldset">
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding"
							type="submit" value="Reset password">
					</p>
				</form>

				<p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="login">Back
						to log-in</a></p>
			</div> <!-- cd-signin-modal__block -->
			<a href="#0" class="cd-signin-modal__close js-close">Close</a>
		</div> <!-- cd-signin-modal__container -->
	</div> <!-- cd-signin-modal -->

	<div class="container">
		<div class="row">
			<div class="row text-center">
				<div class="col col-lg-10 offset-lg-1">
					<h1 class="gy-5 text-primary m-5">Welcome to DeX-Terity!</h1>
					<h5 class="fw-bold text-secondary"><nobr>Learn about our pilot region using data from the Central Lake Ontario
						Conservation Area (CLOCA)</nobr> and the Toronto and Region Conservation Authority (TRCA).</h5>
					<p class="m-3"><nobr>Explore with the map tool. Learn about spatial and temporal patterns in land-use data,
						water quality and more!</nobr></p>
				</div>
			</div>
		</div>
	</div>

	<div id="viewDiv">
	</div>

	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<h5 class="text-primary">Legend <span id="showmoreoption" style="cursor:pointer; color:black; font-size:13px"><u>Show more</u></span>
					<span id="hidemoreoption" style="cursor:pointer; color:black; font-size:13px"><u>Hide more</u></span></h5>
				<p class="showlegend" style="font-size:12px">The DeX-Terity map shows seven major land use types:</p>
				<div class="pop-over-container-hoverdemographictbl" style="cursor:pointer;"><img class="img-fluid showlegend" src="{% static 'admin-lte/dist/img/dexteritybar.svg' %}"></div>
			</div>
			<div class="col-lg-4">
				<div class="pop-over-container-abthreshold" style="cursor:pointer;"><img class="img-fluid" src="{% static 'admin-lte/dist/img/hotspot.png' %}"> Above Threshold</div>
				<div class="pop-over-container-belowthreshold" style="cursor:pointer;"><img class="img-fluid" src="{% static 'admin-lte/dist/img/normalregion.png' %}"> Below Threshold</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row text-center">
			<div class="col col-lg-10 offset-lg-1">

				<div class="row">
					<h1 class="gy-5 text-primary m-5">DeX-Terity Tools</h1>

					<div class="row text-start">
						<div class="col col-md-3">
							<img class="img-fluid" src="{% static 'admin-lte/assets/img/new_d/icons-01.png' %}">
						</div>
						<div class="col col-md-9 mt-3">
							<h6 class="text-primary fw-bold">Data Platform / Descriptive </h6>
							<p class="text-secondary">Access and view disparate sources of data using our map tool.</p>
						</div>
					</div>

					<div class="row text-start">
						<div class="col col-md-3">
							<img class="img-fluid" src="{% static 'admin-lte/assets/img/new_d/icons-02.png' %}">
						</div>
						<div class="col col-md-9 mt-3">
							<h6 class="text-primary fw-bold">Graphical Analysis / Explanatory</h6>
							<p class="text-secondary">Visualize changes to land-use, population, air and water quality
								by watershed over time. Explore causal links between these parameters.</p>
						</div>
					</div>

					<div class="row text-start">
						<div class="col col-md-3">
							<img class="img-fluid" src="{% static 'admin-lte/assets/img/new_d/icons-03.png' %}">
						</div>
						<div class="col col-md-9 mt-3">
							<h6 class="text-primary fw-bold">Trends Analysis / Predictive</small></h6>
							<p class="text-secondary">Use DeX-Terity forecasting tools to compare and assess
								environmental and societal risks arising from different watershed futures.</p>
						</div>
					</div>

					<div class="row text-start">
						<div class="col col-md-3">
							<img class="img-fluid" src="{% static 'admin-lte/assets/img/new_d/icons-04.png' %}">
						</div>
						<div class="col col-md-9 mt-3">
							<h6 class="text-primary fw-bold">Decision-Making Tool / Prescriptive</h6>
							<p class="text-secondary">Mitigate risks by identifying and optimizing watershed protection
								priorities and actions.</p>
						</div>
					</div>
				</div>

				<div class="row">
					<h2 class="gy-5 text-primary mt-5 mb-4">Ready to get started?</h2>
					<p class="m-2 text-primary">Use the DeX-Terity tool today. Create an account for access to our full data platform (with information from 2000 - 2020), including our Graphical Analysis, Trends Analyses, and Decision-Making Tools</p>
					<p class="m-2">
						<button class="btn rounded-pill " type="button" style="background-color: #165DA9;">
							<a style="font-size: 16px;" class="text-decoration-none text-white w-75 js-signin-modal-trigger"
								href="#0" data-signin="login">Create your account</a>
						</button>
					</p>
				</div>

			</div>


		</div>
	</div>
	
	<div class="container text-center my-3">
		<h1 class="gy-5 text-blue-primary m-5">Data Sources</h1>
		<div class="row mx-auto my-auto">
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="4"></li>
					<li data-target="#myCarousel" data-slide-to="5"></li>
				</ol>
				<!-- Carousal item 1 -->
				<div class="carousel-inner" role="listbox">
					<div class="carousel-item active">
						<div class="row">
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>TRCA Water Quality Data</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/waterqtytrca.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://data.trca.ca/dataset?tags=Quality','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>CLOCA Water Quality Data</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/clocawaterquality.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://open-data.cloca.com/','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Provincial Water Quality Monitoring Network Data</h6>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/provincialwaterqualitynetwork.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://data.ontario.ca/dataset/provincial-stream-water-quality-monitoring-network','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Carousal item 2-->
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Environment and Climate Change Canada</h6>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/environmentalclimatedata.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://open.canada.ca/data/en/dataset/51dbf91e-509c-437b-ab9e-eca6d0bf6fa8','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Ontario Watershed Boundaries</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/ontariowaterbodyboundaries.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://geohub.lio.gov.on.ca/maps/mnrf::ontario-watershed-boundaries-owb/explore?location=40.397199%2C-82.339420%2C2.74','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>TRCA Water Quality Data</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/waterqtytrca.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://data.trca.ca/dataset?tags=Quality','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Carousal item 3-->
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>CLOCA Water Quality Data</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/clocawaterquality.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://open-data.cloca.com/','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Provincial Water Quality Monitoring Network Data</h6>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/provincialwaterqualitynetwork.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://data.ontario.ca/dataset/provincial-stream-water-quality-monitoring-network','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Environment and Climate Change Canada</h6>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/environmentalclimatedata.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://open.canada.ca/data/en/dataset/51dbf91e-509c-437b-ab9e-eca6d0bf6fa8','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Carousal item 4-->
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Ontario Watershed Boundaries</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/ontariowaterbodyboundaries.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://geohub.lio.gov.on.ca/maps/mnrf::ontario-watershed-boundaries-owb/explore?location=40.397199%2C-82.339420%2C2.74','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>TRCA Water Quality Data</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/waterqtytrca.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://data.trca.ca/dataset?tags=Quality','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>CLOCA Water Quality Data</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/clocawaterquality.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://open-data.cloca.com/','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- Carousal item 5-->
					<div class="carousel-item">
						<div class="row">
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Provincial Water Quality Monitoring Network Data</h6>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/provincialwaterqualitynetwork.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://data.ontario.ca/dataset/provincial-stream-water-quality-monitoring-network','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Environment and Climate Change Canada</h6>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/environmentalclimatedata.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://open.canada.ca/data/en/dataset/51dbf91e-509c-437b-ab9e-eca6d0bf6fa8','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="card" style="height: 350px;">
									<div class="card-body" style="height: 100%;">
										<h6>Ontario Watershed Boundaries</h6>
										<div style="padding-top: 18px;"></div>
										<img class="img-fluid" src="{% static 'admin-lte/assets/img/ontariowaterbodyboundaries.jpg' %}" style="height:190px;">
										<p class="m-3">
											<button class="btn btn-primary rounded-pill" type="button" onclick="window.open('https://geohub.lio.gov.on.ca/maps/mnrf::ontario-watershed-boundaries-owb/explore?location=40.397199%2C-82.339420%2C2.74','_blank')">
												<h6 class="mx-3">Learn more</h6>
											</button>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev w-auto" href="#myCarousel" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next w-auto" href="#myCarousel" role="button" data-slide="next">
					<span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>

	<div class="container-fluid mt-5 text-white" style="background-color: #165DA9;">
		<div class="row text-center">
			<div class="col">
				<div class="m-5"><img class="img-fluid" src="{% static 'admin-lte/assets/img/new_d/logo.png' %}"></div>
				<div class="row m-5">
					<div class="col">
						<i class="bi bi-facebook fs-1"></i>
					</div>
					<div class="col">
						<i class="bi bi-twitter fs-1"></i>
					</div>
					<div class="col">
						<i class="bi bi-linkedin fs-1"></i>
					</div>
				</div>
			</div>
			<div class="col">
				<div class="row m-5">
					<ul>
						<li class="list-group-item footerclick"><a href="/in_dex" style="color:white">See DeX-Terity</a></li>
						<li class="list-group-item footerclick"><a href="/contactus" style="color:white">Contact Us</a></li>
					</ul>
				</div>
			</div>
			<div class="col">
				<div class="row m-5">
					<ul>
						<li class="list-group-item footerclick">Privacy Policy</li>
						<li class="list-group-item footerclick">Terms of Service</li>
						<li class="list-group-item footerclick">About Us</li>
					</ul>
				</div>
			</div>
			<div class="col d-flex justify-content-center">
				<div class="row mx-5 my-3" style="background-color:white;">
					<div class="col col-12 mb-3">
						<!-- <p class="text-primary mt-2 text-start">Powered by:</p> -->
					</div>
					<div class="col col-12">
						<img class="img-fluid" src="{% static 'admin-lte/assets/img/new_d/CGLR_logo.png' %}">
					</div>
					<div class="col col-12 mt-3 mb-3">
						<img class="img-fluid" src="{% static 'admin-lte/assets/img/new_d/pollution_probe.png' %}">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row">
			<h6 class=" my-3 text-center fw-light">&copy;
				<script>document.write(/\d{4}/.exec(Date())[0])</script> All Rights Reserved.
			</h6>
		</div>
	</div>
	<input type="hidden" id="stationid">
	<input type="hidden" id="yearselectedinputhidden" value="{{yearselected}}">
	<div class="modal fade" id="demographicsGraphModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Station ID: <span id="stationdisplaymodalbox"></span><span>,
							Year:{{yearselected}}</span></h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-lg-12">
							<span style="font-weight: bold;">Sampling site : </span><span
								id="totalsamplingsitelatitudeid" style="font-weight: bold;"></span><span
								style="font-weight: bold;">&#176;N</span><span id="totalsamplingsitelongitudeid"
								style="font-weight: bold; padding-left:5px; "></span><span
								style="font-weight: bold;">&#176;W</span><br>
							<span style="font-weight: bold;">Total sq.km : </span><span id="totalsqkmid"
								style="font-weight: bold;"></span><sup style="font-weight: bold;">2</sup><br>
							<span style="font-weight: bold;">Drainage basin : </span><span id="drainagebasinid"
								style="font-weight: bold;"></span><sup style="font-weight: bold;">2</sup><br>
							<span style="font-weight: bold;">Population : </span><span id="populationid"
								style="font-weight: bold;"></span>
						</div>
					</div>
					<div class="row" id="notdatafoundmodalrow">
						<div class="col-lg-12">
							<p style="color:red">No data available for this station to plot charts.</p>
						</div>
					</div>
					<div class="row graphclass">
						<div class="col-lg-12" id="land-usechart"></div>
					</div>
					<div class="row graphclass">
						<div class="col-lg-12" id="soildatagraph"></div>
					</div>
					<div class="row graphclass">
						<div class="col-lg-12"><canvas id="meantemperaturedivision"
								style="width:100%;max-width:600px"></canvas>
						</div>
					</div>
					<div class="row graphclass">
						<div id="meanmaxrainfalldivision" class="col-lg-12"></div>
					</div>
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>

	<div class="modal fade" id="searchYearOnMainMapHomeModal">
		<div class="modal-dialog modal-sm">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Search map</h4>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<label class="text-primary font-weight-bold">Select a year</label>
					<div>&nbsp;</div>
					<select class="form-control yearFrommainmap">

					</select>
				</div>
				<div class="modal-footer justify-content-between">
					<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-success" id="buttonIdSearchMap">Search</button>
				</div>
			</div>
		</div>
	</div>
	<script src="{% static 'admin-lte/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
	<script src="{% static 'admin-lte/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

	<!-- Core plugin JavaScript-->
	<script src="{% static 'admin-lte/bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

	<!-- Custom scripts for all pages-->
	<script src="{% static 'admin-lte/bootstrap/js/sb-admin-2.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js "></script>
	<script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
	<script src="https://js.arcgis.com/4.23/"></script>
	<script src="{% static 'admin-lte/assets/js/arcgisjs/arcgisjs.js' %} "></script>

	<!-- login modal -->
		<script src="{% static 'admin-lte/assets/js/js_loginmodal/main.js' %}"></script>
		<script src="{% static 'admin-lte/assets/js/js_loginmodal/placeholders.min.js' %}"></script>

	<script>
		var jsonpointfile = {{ jsonvalue| safe }};
		$(document).ready(function () {

			$('.pop-over-container-abthreshold').popover({
				content: "This pin represents a location of interest where nutrient levels have been detected to be greater than those outlined by Ontario Drinking Water Quality standards (>0.02 mg/L phosphorus OR >10 mg/L nitrogen)",
				trigger: "hover",
				placement: "top",
				
			});

			$('.pop-over-container-belowthreshold').popover({
				content: "This pin represents a location of interest where nutrient levels have been detected to be equal or lesser than those outlined by Ontario Drinking Water Quality standards (<=0.02 mg/L phosphorus AND <=10 mg/L nitrogen)",
				trigger: "hover",
				placement: "top",
				
			});

			var hoverdemographictable = "<div><table class='table table-bordered' style='font-size: 11px;'><thead><tr><th>Land</th><th>Details</th></tr></thead><tbody><tr><td>Agricultural</td><td>Agriculture land, Crop land, Grass land, pasture land, etc</td></tr><tr><td>Anthropogenic</td><td>Airport, Athletic, Commercial, Golf facility, Industrial, etc</td></tr><tr><td>Natural</td><td>Natural forests, Coniferous forests, Mixed forests, Savannas, etc</td></tr><tr><td>Surface Water</td><td>Meadow marsh, Swamps, Fens, Aquatic, Beach, etc</td></tr><tr><td>Urban</td><td>Urban residential</td></tr></tr><tr><td>Rural</td><td>Rural residential</td></tr></tr><tr><td>Other</td><td>Aggregated land, Vacant land, Plantation, etc</td></tr></tbody></table></div>"

			$('.pop-over-container-hoverdemographictbl').popover({
				content: hoverdemographictable,
				html : true,
				trigger: "hover",
				placement: "top",
				sanitize: false
			});

			$(".showlegend").hide();
			$("#hidemoreoption").hide();


			var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
			var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
				return new bootstrap.Tooltip(tooltipTriggerEl)
			});
			var regionrenderurl = "{{regiondemographicrenderurl|safe}}";
			var loadingurl = "199.241.160.97";
			loadmapvalues(1, jsonpointfile, loadingurl, regionrenderurl, "{{yearselected}}", "{{ trcadurhammapcombinedurl| safe }}");
			handleResize();
			$(window).bind('resize', handleResize);

			var yearlist = ["2020", "2019", "2018", "2017", "2016", "2015"];
			yearselectbox = "<option value='' disabled selected>Select a year</option>";
			for (let j = 0; j < yearlist.length; j++) {
				if (yearlist[j] == "{{yearselected}}") {
					yearselectbox += "<option value=" + yearlist[j] + " selected>" + yearlist[j] + "</option>";
				} else {
					yearselectbox += "<option value=" + yearlist[j] + ">" + yearlist[j] + "</option>";
				}
			}

			$(".yearFrom").html(yearselectbox);
			$(".yearFrommainmap").html(yearselectbox);

			$(document).on('change', '.yearFrom', function () {
				var yearselected = $(this).val();
				window.location.href = '/filteryear/' + yearselected + "#hotspot";
			});

			$(document).on('click', '#showmoreoption', function () {
				$('.showlegend').show();
				$("#showmoreoption").hide();
				$("#hidemoreoption").show();
			});

			$(document).on('click', '#hidemoreoption', function () {
				$('.showlegend').hide();
				$("#showmoreoption").show();
				$("#hidemoreoption").hide();
			});

			$(document).on('click', '#searchYearOnMainMapHome', function () {
				$('#searchYearOnMainMapHomeModal').modal('show');
			});

			$(document).on('click', '#buttonIdSearchMap', function () {
				var yearselected = $(".yearFrommainmap").val();
				window.location.href = '/filteryear/' + yearselected;
			});
			$("#loginfailedorsuccess").hide();
			$("#usernamealreadyexists").hide();
			$("#useremailalreadyexists").hide();
			$("#usercreated").hide();

			$(document).on('click', "#logintoconsole", function () {
				$("#loginfailedorsuccess").hide();
				var loginemailaddress = $("#loginemailaddress").val();
				var loginpassword = $("#loginpassword").val();
				// console.log(formdata);
				$.ajax({
					type: 'POST',
					url: '/loginUsingUserCredentials/',
					data: $("#signInFormId").serialize(),
					// headers: { "X-CSRFToken": csrftoken },
					success: function (data) {
						if (data.status === 'success') {
							window.location.href = window.location.origin + '/new_dashboard';
						} else {
							$("#loginfailedorsuccess").show();
						}
					},
					error: function (error) {
						console.log("Error" + JSON.stringify(error));
					}
				});
			});

			$(document).on('click', '#addnewuser', function (e) {
				$("#usernamealreadyexists").hide();
				$("#useremailalreadyexists").hide();
				$("#usercreated").hide();
				$("#loginfailedorsuccess").hide();
				let isagreementChecked = $('#accept-terms')[0].checked
				var username = $("#signup-username").val();
				var emailaddress = $("#signup-email").val();
				var password = $("#signup-password").val();
				var agreetoterms = $("#accept-terms").val();
				var teststring = containsSpecialCharacters(username);

				if (isagreementChecked == true) {
					if (teststring == false) {
						if (username === '' || emailaddress === '' || password === '') {
							alert("All the fields must be filled");
						} else {
							$.ajax({
								type: 'POST',
								url: '/addNewUser/',
								data: $("#signupform").serialize(),
								success: function (data) {
									if (data.status === "useremailexists") {
										$("#useremailalreadyexists").show();
									} else if (data.status === "displayuserexists") {
										$("#usernamealreadyexists").show();
									}
									else if (data.status === "success") {
										$("#usercreated").show();
										$("#loginemailaddress").val("");
										$("#loginpassword").val("");
										$("#signup-username").val("");
										$("#signup-email").val("");
										$("#signup-password").val("");
									}
								},
								error: function (error) {
									alert("Error" + JSON.stringify(error));
								}
							});
						}
					} else {
						alert("The username cannot contain special characters");
					}
				} else {
					alert("You should agree to the terms and conditions")
				}
				console.log("I am in here");
			});
		});

		function containsSpecialCharacters(str) {
			var regex = /[ !@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/g;
			return regex.test(str);
		}
		function handleResize() {
			$("#hero").height($(window).height());
		}

		$(document).on('click', '.gotodatasources', function () {
			window.location.href = '#testimonials';
		});
	</script>
</body>

</html>