{% extends 'adminlte/new_dashboard_base.html' %}
{% block content %}

<div class="card-deck">
    <div class="card text-white mb-3" style="width: 25%; border-radius: 0; border: 0; margin-top: 150px;">
        <div class="card-header p-4" style="background-color: rgba(14,92,134,1);">Descriptive</div>
        <div class="card-body" style="background-color: rgba(235,235,235,1);">
            <p class="card-text font-weight-normal text-center" style="color: rgba(104,167,95,1);">Data Platform</p>
            <img class="ml-4" src="static/admin-lte/assets/img/new_d/1.png" alt="">
            <p class="card-text font-weight-normal text-secondary">
                Access and view disparate sources of data using our map tool.
            </p>
        </div>
    </div>
    <div class="card text-white mb-3" style="width: 25%; border-radius: 0; border: 0; margin-top: 100px;">
        <div class="card-header p-4" style="background-color: rgba(46,108,108,1);">Explanatory</div>
        <div class="card-body" style="background-color: rgba(235,235,235,1);">
            <p class="card-text font-weight-normal text-center" style="color: rgba(104,167,95,1);">Graphical Analysis</p>
            <img class="ml-4" src="static/admin-lte/assets/img/new_d/2.png" alt="">
            <p class="card-text font-weight-normal text-secondary">
                Visualize changes to land-use, population, air and water quality by watershed over time. Explore causal links between these parameters.
            </p>
        </div>
    </div>
    <div class="card text-white mb-3" style="width: 25%; border-radius: 0; border: 0; margin-top: 50px;">
        <div class="card-header p-4" style="background-color: rgba(104,167,95,1);">Predictive</div>
        <div class="card-body" style="background-color: rgba(235,235,235,1);">
            <p class="card-text font-weight-normal text-center" style="color: rgba(104,167,95,1);">Trend Analysis</p>
            <img class="ml-4" src="static/admin-lte/assets/img/new_d/3.png" alt="">
            <p class="card-text font-weight-normal text-secondary">
                Use DeX-Terity forecasting tools to compare and assess environmental and societal risks arising from different watershed futures.
            </p>
        </div>
    </div>
    <div class="card text-white mb-3" style="width: 25%; border-radius: 0; border: 0; margin-top: 0px;">
        <div class="card-header p-4" style="background-color: rgba(104,167,95,1);">Prescriptive</div>
        <div class="card-body" style="background-color: rgba(235,235,235,1);">
            <p class="card-text font-weight-normal text-center" style="color: rgba(104,167,95,1);">Decision-Making Tool</p>
            <img class="ml-4" src="static/admin-lte/assets/img/new_d/4.png" alt="">
            <p class="card-text font-weight-normal text-secondary">
                Mitigate risks by identifying and optimizing watershed protection priorities and actions.
            </p>
        </div>
    </div>
</div>

{% endblock %}