{% load static %}
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" />
	<link href="{% static 'admin-lte/assets/css/css_loginmodal/demo.css' %}" rel="stylesheet">
	<link href="{% static 'admin-lte/assets/css/css_loginmodal/style.css' %}" rel="stylesheet">
	    <link href="{% static 'admin-lte/bootstrap/css/sb-admin-2.min.css' %}" rel="stylesheet">

	<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>

	<style>
		.bg-overlay {
			position: relative;
			background: url(static/admin-lte/assets/img/new_d/imagen-1.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			color: #fff;
			height: 547px;
			width: 100%;
			padding-top: 0px;
		}

		body {
			font-family: Poppins;
			font-style: normal;
			font-weight: bold;
			margin: 0px;
		}

		.bg2 {
			position: relative;
			background: url(static/admin-lte/assets/img/new_d/imagen-2png.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			color: #fff;
			height: 547px;
			width: 100%;
			padding-top: 0px;
		}
		.footerclick {
			cursor:pointer;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg">
		<div class="container-fluid " style="padding-right: 0px; margin-right: 0px">
			<a class="navbar-brand" href="/in_dex">
				<img src="static/admin-lte/assets/img/new_d/logo_ec.png" alt="" width="200" height="55">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
				<ul class="navbar-nav w-50">
					<li class="nav-item col">
						<a class="nav-link active" href="/in_dex">Home</a>
					</li>
					<li class="nav-item col">
						<a class="nav-link link-primary" aria-current="page" href="/dexterity">DeX-Terity</a>
					</li>
					<li class="nav-item col">
						<a class="nav-link text-primary" href="/contactus">Contact us</a>
					</li>
					<li class="nav-item col">
						<a style="font-size: 16px;" class="btn btn-primary rounded-pill w-75 js-signin-modal-trigger"
							href="#0" data-signin="login">Login</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- login modal -->
	<div class="cd-signin-modal js-signin-modal">
		<!-- this is the entire modal form, including the background -->
		<div class="cd-signin-modal__container">
			<!-- this is the container wrapper -->
			<div class="row pt-5 pb-5">
				<span width="200" height="60">
					<img class="rounded mx-auto d-block" src="static/admin-lte/assets/img/new_d/logo_ec.png" alt="">
				</span>
			</div>
			<ul
				class="list-group-horizontal cd-signin-modal__switcher js-signin-modal-switcher js-signin-modal-trigger">
				<li class="list-group-item"><a href="#0" data-signin="login" data-type="login">Sign in</a></li>
				<li class="list-group-item"><a href="#0" data-signin="signup" data-type="signup">New account</a></li>
			</ul>

			<div class="cd-signin-modal__block js-signin-modal-block" data-type="login">
				<!-- log in form -->
				<form class="cd-signin-modal__form" id="signInFormId">
					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
							for="signin-email">E-mail</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							type="text" placeholder="Enter Username/ E-mail address" name="emailaddress" id="loginemailaddress">

					</p>

					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
							for="signin-password">Password</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							type="password" placeholder="Enter your password" name="password" id="loginpassword">
						<a href="#0" class="cd-signin-modal__hide-password js-hide-password">Show</a>

					</p>

					<p style="color:red" id="loginfailedorsuccess">Login credentials failed</p>

					<p class="cd-signin-modal__fieldset">
						<input type="checkbox" id="remember-me" checked class="cd-signin-modal__input ">
						<label for="remember-me">Remember me</label>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input style="background: #165DA9;"
							class="cd-signin-modal__input cd-signin-modal__input--full-width" type="submit"
							value="Login" id="logintoconsole">
					</p>
				</form>

				<p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0"
						data-signin="reset">Forgot your password?</a></p>
			</div> <!-- cd-signin-modal__block -->
			<div class="cd-signin-modal__block js-signin-modal-block" data-type="signup">
				<!-- sign up form -->
				<form class="cd-signin-modal__form" id="signupform">
					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--username cd-signin-modal__label--image-replace"
							for="signup-username">Username</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							id="signup-username" type="text" placeholder="Username" name="displayusername">

					</p>

					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
							for="signup-email">E-mail</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							id="signup-email" type="email" placeholder="E-mail" name="emailaddress">

					</p>

					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--password cd-signin-modal__label--image-replace"
							for="signup-password">Password</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							id="signup-password" type="password" placeholder="Password" name="password">
						<a href="#0" class="cd-signin-modal__hide-password js-hide-password">Show</a>

					</p>

					<p id="usernamealreadyexists" style="color:red">Username Exists. Please try another username</p>
					<p id="useremailalreadyexists" style="color:red">Mail-id is already in use. Please try using another
						e-mail address</p>
					<p id="usercreated" style="color:green">User successfully created. Please sign-in using your new
						credentials</p>

					<p class="cd-signin-modal__fieldset">
						<input type="checkbox" id="accept-terms" class="cd-signin-modal__input ">
						<label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
					</p>

					<p class="cd-signin-modal__fieldset">
						<input style="background: #165DA9;"
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding"
							type="submit" value="Create account" id="addnewuser">
					</p>
				</form>
			</div> <!-- cd-signin-modal__block -->

			<div class="cd-signin-modal__block js-signin-modal-block" data-type="reset">
				<!-- reset password form -->
				<p class="mt-4 cd-signin-modal__message">Lost your password? Please enter your email address. You will
					receive a link to create a new password.</p>

				<form class="cd-signin-modal__form">
					<p class="cd-signin-modal__fieldset">
						<label
							class="cd-signin-modal__label cd-signin-modal__label--email cd-signin-modal__label--image-replace"
							for="reset-email">E-mail</label>
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding cd-signin-modal__input--has-border"
							id="reset-email" type="email" placeholder="E-mail">

					</p>

					<p class="cd-signin-modal__fieldset">
						<input
							class="cd-signin-modal__input cd-signin-modal__input--full-width cd-signin-modal__input--has-padding"
							type="submit" value="Reset password">
					</p>
				</form>

				<p class="cd-signin-modal__bottom-message js-signin-modal-trigger"><a href="#0" data-signin="login">Back
						to log-in</a></p>
			</div> <!-- cd-signin-modal__block -->
			<a href="#0" class="cd-signin-modal__close js-close">Close</a>
		</div> <!-- cd-signin-modal__container -->
	</div> <!-- cd-signin-modal -->


	<div class="container-fluid my-3 p-0 pr-0" style="padding-right: 0px; padding-right: 0px; margin:0px;">
		<div class="row no-gutters bg-overlay">
			<div
				style='padding-left: 196px; padding-top: 200px; padding-bottom: 0px; font-family: Poppins; font-style: normal;'>
				<span style="font-weight: bold; font-size: 40px;">
					An Innovative Platform for Improved Watershed<br />Management and Adaptive
					Decision-Making<br></span>
				<span style="font-weight: normal; font-size: 20px;">
					DeX-Terity connects, ingests, analyzes, and visualizes data, helping to predict<br>
					risks before they happen and prescribe sustainable pathways for the future <br></span>
					<div>&nbsp;</div>
				<button style="font-size: 15px;" type="button" class="btn btn-outline-light rounded-pill"
					onclick="location.href='/dexterity'">Launch DeX-Terity</button>
			</div>
		</div>

		<div class="container">
			<div class="row no-gutters">
				<div class="row">
					<p class="text-center pt-5 text-primary" style="font-size: 40px;">What is DeX-Terity</p>
				</div>
				<div class="row">
					<p class="text-center pt-2 text-secondary" style="font-size: 18px; font-weight: normal;">
						A machine-learning, data-intensive analytical tool, DeX-Terity provides hindsight, insight and
						foresight
						into the complexities of watershed health. Our platform analyzes multidisciplinary data to
						explain and
						visualize the impacts of a variety of anthropogenic stressors, predicting trends over time and
						prescribing actions
						today to protect and improve water quality and watershed health into the future.
					</p>
				</div>
				<div class="row">
					<!-- alternative -->
					<!-- <div class="d-flex justify-content-center">
					<div class="p-2 bd-highlight"><img src="icons-01.png" alt=""></div>
					<div class="p-2 bd-highlight"><img src="icons-02.png" alt=""></div>
					<div class="p-2 bd-highlight"><img src="icons-03.png" alt=""></div>
					<div class="p-2 bd-highlight"><img src="icons-04.png" alt=""></div>
				  </div> -->
					<div class="row no-gutters" style="padding-left: 50px; padding: right 50px;">
						<div class="text-center">
							<img class="mx-auto d-block img-fluid" src="static/admin-lte/assets/img/new_d/Image_home_Dexterity.png" alt="">
						</div>
					</div>
				</div>
				<!-- <div class="d-flex justify-content-center">
					<div class="p-2 bd-highlight" ></div>
					<div class="p-2 bd-highlight" ><img style="height: 20px; width: 100px" src="static/admin-lte/assets/img/new_d/arrow.png" alt=""></div>
					<div class="p-2 bd-highlight" ><img style="height: 20px; width: 100px" src="static/admin-lte/assets/img/new_d/arrow.png" alt=""></div>
					<div class="p-2 bd-highlight" ><img style="height: 20px; width: 100px" src="static/admin-lte/assets/img/new_d/arrow.png" alt=""></div>
					<div class="p-2 bd-highlight" ><img style="height: 20px; width: 100px" src="static/admin-lte/assets/img/new_d/arrow.png" alt=""></div>
					<div class="p-2 bd-highlight" ><img style="height: 20px; width: 100px" src="static/admin-lte/assets/img/new_d/arrow.png" alt=""></div>
				</div> -->
			</div>
		</div>
	</div>

	<div class="container-fluid" style="padding-right: 0px; margin-right: 0px;">
		<div class="row bg2">
			<div class="text-center" style='padding-top: 200px; font-family: Poppins;
			font-style: normal;'>
				<span style="font-weight: bold;
			font-size: 40px;">Try out DeX-Terity today<br></span>
				<span style="font-weight: normal;
			font-size: 20px;">Interested in visualizing watershed trends and impacts in a real-time?<br>Launch DeX-Terity to
					explore patterns in land-use data, water quality, and more!<br></span>
					<div>&nbsp;</div>
				<button style="font-size: 15px;" type="button" class="btn btn-outline-light rounded-pill mt-5"
					onclick="location.href='/dexterity'">Launch DeX-Terity</button>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<p class="text-center pt-5 text-primary" style="font-size: 40px;">Stay up to date with DeX-Terity
				</p>
			</div>
			<div class="d-flex align-items-center justify-content-center">
				<div class="form-outline" style="width: 25%;">
					<input type="email" id="form1" class="form-control" placeholder="Enter your email address"
						aria-label="Search" />
				</div>
			</div>
			<div class="d-flex align-items-center justify-content-center">
				<button style="font-size: 16px;" type="button"
					class="btn btn-primary rounded-pill mt-3" onclick="afterSubscribe();">Subscribe</button>
			</div>
			<div class="d-flex align-items-center justify-content-center">
				<p class="text-center font-weight-light text-success" id="afterSubscribe"></p>
			</div>

		</div>

		<div class="container-fluid mt-5 text-white" style="background-color: #165DA9;">
			<div class="row text-center">
				<div class="col">
					<div class="m-5"><img class="img-fluid" src="static/admin-lte/assets/img/new_d/logo.png"></div>
					<div class="row m-5">
						<div class="col">
							<i class="bi bi-facebook fs-1"></i>
						</div>
						<div class="col">
							<i class="bi bi-twitter fs-1"></i>
						</div>
						<div class="col">
							<i class="bi bi-linkedin fs-1"></i>
						</div>
					</div>
				</div>
				<div class="col">
					<div class="row m-5">
						<ul>
							<li class="list-group-item footerclick"><a href="/in_dex" style="color:white">See DeX-Terity</a></li>
							<li class="list-group-item footerclick"><a href="/contactus" style="color:white">Contact Us</a></li>
						</ul>
					</div>
				</div>
				<div class="col">
					<div class="row m-5">
						<ul>
							<li class="list-group-item footerclick">Privacy Policy</li>
							<li class="list-group-item footerclick">Terms of Service</li>
							<li class="list-group-item footerclick">About Us</li>
						</ul>
					</div>
				</div>
				<div class="col d-flex justify-content-center">
					<div class="row mx-5 my-3" style="background-color:white;">
						<div class="col col-12 mb-3">
							<!-- <p class="text-primary mt-2 text-start">Powered by:</p> -->
						</div>
						<div class="col col-12">
							<img class="img-fluid" src="static/admin-lte/assets/img/new_d/CGLR_logo.png">
						</div>
						<div class="col col-12 mt-3 mb-3">
							<img class="img-fluid" src="static/admin-lte/assets/img/new_d/pollution_probe.png">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid p-0">
			<div class="row">
				<h6 class=" my-3 text-center fw-light">&copy;
					<script>document.write(/\d{4}/.exec(Date())[0])</script> All Rights Reserved.
				</h6>
			</div>
		</div>


		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
			crossorigin="anonymous"></script>
		<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
		<script src="{% static 'admin-lte/assets/js/js_loginmodal/main.js' %}"></script>
		<script src="{% static 'admin-lte/assets/js/js_loginmodal/placeholders.min.js' %}"></script>
		<script src="{% static 'admin-lte/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
		<script>
			$(document).ready(function () {
				$("#loginfailedorsuccess").hide();
				$("#usernamealreadyexists").hide();
				$("#useremailalreadyexists").hide();
				$("#usercreated").hide();

				$(document).on('click', "#logintoconsole", function () {
					$("#loginfailedorsuccess").hide();
					var loginemailaddress = $("#loginemailaddress").val();
					var loginpassword = $("#loginpassword").val();
					// console.log(formdata);
					$.ajax({
						type: 'POST',
						url: '/loginUsingUserCredentials/',
						data: $("#signInFormId").serialize(),
						// headers: { "X-CSRFToken": csrftoken },
						success: function (data) {
							if (data.status === 'success') {
								window.location.href = window.location.origin + '/new_dashboard';
							} else {
								$("#loginfailedorsuccess").show();
							}
						},
						error: function (error) {
							console.log("Error" + JSON.stringify(error));
						}
					});
				});

				$(document).on('click', '#addnewuser', function (e) {
					$("#usernamealreadyexists").hide();
					$("#useremailalreadyexists").hide();
					$("#usercreated").hide();
					$("#loginfailedorsuccess").hide();
					let isagreementChecked = $('#accept-terms')[0].checked
					var username = $("#signup-username").val();
					var emailaddress = $("#signup-email").val();
					var password = $("#signup-password").val();
					var agreetoterms = $("#accept-terms").val();
					var teststring = containsSpecialCharacters(username);

					if (isagreementChecked == true) {
						if (teststring == false) {
							if (username === '' || emailaddress === '' || password === '') {
								alert("All the fields must be filled");
							} else {
								$.ajax({
									type: 'POST',
									url: '/addNewUser/',
									data: $("#signupform").serialize(),
									success: function (data) {
										if (data.status === "useremailexists") {
											$("#useremailalreadyexists").show();
										} else if (data.status === "displayuserexists") {
											$("#usernamealreadyexists").show();
										}
										else if (data.status === "success") {
											$("#usercreated").show();
											$("#loginemailaddress").val("");
											$("#loginpassword").val("");
											$("#signup-username").val("");
											$("#signup-email").val("");
											$("#signup-password").val("");
										}
									},
									error: function (error) {
										alert("Error" + JSON.stringify(error));
									}
								});
							}
						} else {
							alert("The username cannot contain special characters");
						}
					} else {
						alert("You should agree to the terms and conditions")
					}
					console.log("I am in here");
				});
			});

			function containsSpecialCharacters(str) {
				var regex = /[ !@#$%^&*()_+\-=\[\]{};':"\\|,.<>\/?]/g;
				return regex.test(str);
			}

			function afterSubscribe(){
				$('#afterSubscribe').text("Thank you for subscribing Dex-Terity");
				// require(['fs'], function (foo) {
				// 	console.log('fs is loaded');
				// });
			}
		</script>

</body>

</html>