{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WMS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'admin-lte/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'admin-lte/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'admin-lte/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'admin-lte/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin-lte/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'admin-lte/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin-lte/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin-lte/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'admin-lte/assets/css/style.css' %}" rel="stylesheet">

  <!-- Plotly graphs -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="index.html">DEX-Terity</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#features">Features</a></li>
          <li><a class="nav-link scrollto" href="#hotspot">Hotspots</a></li>
          <li><a class="nav-link scrollto " href="#statistics">Statistics</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="/logincontroller">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to <span>Dex-Terity</span></h1>
      <h2>It needs a plan to preserve water</h2>
      <div class="d-flex" style="margin-left:80%;">
        <a href="#hotspot" class="btn-get-started scrollto">Explore</a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="features" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <h4 class="title"><a href="/logincontroller">UPLOAD</a></h4>
              <p class="description">Drop excel sheet with required features</p>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <h4 class="title"><a href="/logincontroller">PREDICTION</a></h4>
              <p class="description">Predict phosphorus with 85% accuracy</p>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <h4 class="title"><a href="/logincontroller">VISUALIZATION</a></h4>
              <p class="description">Filter features and visualize through graphs and maps</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= Hotspot Section ======= -->
    <section id="hotspot" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
            data-aos-delay="100">
            <h3>HOTSPOT STATIONS</h3>
            <p class="fst-italic">
              These are the stations where the amount of TotalPhosphorus and TotalNitrogen are noted higher than it
              should be(As per WHO and ODWQS)
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.
            </p>
          </div>

          <div class="col-lg-8" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'admin-lte/assets/img/hotspotimage.png' %}" class="img-fluid" alt="">
          </div>
          <!-- <div class="col-md-10">
            <div id="viewDiv"></div>
          </div> -->
        </div>

      </div>
    </section><!-- End hotspot Section -->

    <!-- ======= statistics Section ======= -->
    <section id="statistics" class="services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-7" data-aos="fade-right" data-aos-delay="100">
            <!--            <img src="{% static 'admin-lte/assets/img/graphs.jpg' %}" class="img-fluid" alt="">-->
            <div id="plotP"></div>
          </div>

          <div class="col-lg-5 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
            data-aos-delay="100">
            <h3>STATISTICS</h3>
            <p class="fst-italic" style="font-size:14px;">
              These is the stastics section
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
              ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
              fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum.
            </p>
          </div>
          <div class="row">
            <div class="col-lg-5 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
              data-aos-delay="100">
              <h3>STATISTICS</h3>
              <p class="fst-italic" style="font-size:14px;">
                These is the stastics section
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex
                ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt
                mollit anim id est laborum.
              </p>
            </div>
            <div class="col-lg-7" data-aos="fade-right" data-aos-delay="100">
              <!--            <img src="{% static 'admin-lte/assets/img/graphs.jpg' %}" class="img-fluid" alt="">-->
              <div id="plotN"></div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End statistics Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <h3>Data sources</h3>
          <div>&nbsp;</div>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'admin-lte/assets/img/waterqtytrca.jpg' %}" style="width:350px;height:190px;"
                  class="testimonial-img" alt="">
                <h3>TRCA Water Quality Data</h3>
                <p>Water Quality data from monthly grab samples collected
                  at 90+ sites across more than nine watersheds in Toronto and Region
                  Conservation Authority’s (TRCA) jurisdiction. Samples are collected
                  monthly following the Provincial.. <a href="https://data.trca.ca/dataset?tags=Quality"
                    target="_blank">Read more...</a></p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'admin-lte/assets/img/clocawaterquality.jpg' %}" style="width:350px;height:190px;"
                  class="testimonial-img" alt="">
                <h3>CLOCA Water Quality Data</h3>
                <p>Water Quality data from in-situ sampling taken from 36
                  sampling sites within the Central Lake Ontario Conservation
                  authority jurisdiction. Samples were collected monthly during the
                  summer months from 2017 – 2020 following the Provincial Water
                  Quality Monitoring Network Protocol. <a href="https://open-data.cloca.com/" target="_blank">Read
                    more...</a></p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'admin-lte/assets/img/provincialwaterqualitynetwork.jpg' %}"
                  style="width:350px;height:190px;" class="testimonial-img" alt="">
                <h3>Provincial Water Quality Monitoring Network Data</h3>
                <p>Over 400 locations are currently monitored in
                  partnership with Ontario's Conservation Authorities, participating
                  municipalities and provincial parks. Partners collect water samples on
                  an approximately monthly basis and deliver them to the Ministry's
                  laboratory where they are analyzed for a suite of water quality
                  indicators. <a
                    href="https://data.ontario.ca/dataset/provincial-stream-water-quality-monitoring-network"
                    target="_blank">Read more...</a></p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'admin-lte/assets/img/environmentalclimatedata.jpg' %}"
                  style="width:350px;height:190px;" class="testimonial-img" alt="">
                <h3>Environment and Climate Change Canada</h3>
                <p>Daily climate observations are derived from two sources
                  of data, both accessible as Historical Data from ECCC. The first are

                  Climate Station daily summaries recording total precipitation, mean,
                  min and max air temperatures. The second are hourly records that
                  typically produce more weather elements e.g. wind or snow on
                  ground. <a href="https://www.canada.ca/en/environment-climate-change.html" target="_blank">Read
                    more...</a></p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'admin-lte/assets/img/ontariowaterbodyboundaries.jpg' %}"
                  style="width:350px;height:190px;" class="testimonial-img" alt="">
                <h3>Ontario Watershed Boundaries</h3>
                <p>The Ontario Watershed Boundaries (OWB) collection
                  represents the authoritative watershed boundaries for Ontario. The
                  data is based on a framework similar to the Atlas of Canada
                  Fundamental Drainage Areas and the United States Watershed
                  Boundary Dataset, however it adopts a more stringent scientific
                  approach to watershed delineation. <a
                    href="https://geohub.lio.gov.on.ca/maps/mnrf::ontario-watershed-boundaries-owb/explore?location=40.397199%2C-82.339420%2C2.74"
                    target="_blank">Read more...</a></p>
              </div>
            </div><!-- End testimonial item -->

          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="row">

      <div class="col-lg-3 col-md-3 footer-contact">&nbsp;</div>

      <div class="col-lg-6 col-md-6 footer-links">
        <h4>&nbsp;</h4>
        <ul class="list-unstyled text-center">
          <li><a href="#">Home</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Hotspots</a></li>
          <li><a href="#">Statistics</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-3 footer-links">&nbsp;</div>

    </div>
    <div class="container py-4">
      <div class="copyright col-lg-12 text-center">
        &copy; Copyright 2022
      </div>
    </div>

  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'admin-lte/assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'admin-lte/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'admin-lte/assets/js/main.js' %}"></script>
  <script src="https://js.arcgis.com/4.23/"></script>
  <script src="{% static 'admin-lte/assets/js/arcgisjs/arcgisjs.js' %} "></script>

</body>

</html>