{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DeX-Terity</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="favicon.png" rel="icon">
  <link href="apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'admin-lte/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'admin-lte/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin-lte/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'admin-lte/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin-lte/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin-lte/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'admin-lte/assets/css/style.css' %}" rel="stylesheet">
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

	  <a href="#" class="logo"><img src="{% static 'admin-lte/assets/img/DeXTerityLogo.png' %}" alt="Dex-Terity" title="DeX-Terity Home"></a>
	  <!-- <div><button class="btn btn-dark">Create Account / Login &nbsp; <i class="bi bi-person-circle"></i></button></div> -->
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#whatis">What is Dex-Terity</a></li>
		  <li><a class="nav-link scrollto" href="#about">About</a></li>
          <!-- <li><a class="nav-link scrollto" href="contact.html">Contact</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="#">Login</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" style="background:none; height:100%; padding:0;">
    
	<div id="carouselSlides" class="carousel slide  carousel-fade" data-bs-ride="carousel">
	  <div class="carousel-inner">
		<div class="carousel-item active">
		  <video class="img-fluid" autoplay loop muted>
			<source src="{% static 'admin-lte/assets/img/DeX-Terity.mp4' %}" type="video/mp4" />
		  </video>
		  <div class="carousel-caption d-none d-md-block" data-aos="zoom-out" data-aos-delay="100">
		  <h1>Header Text</h1>
		  <div class="d-flex" style="margin-left:80%;">
				<a href="additionaldetails" class="btn-get-started scrollto">Explore</a>
		  </div>
		</div>
		</div>
	  </div>
	</div>
	
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= What is Section ======= -->
    <section id="whatis" class="services">
      <div class="container" data-aos="fade-up">

		<div class="row">
		  <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
            <img src="{% static 'admin-lte/assets/img/DeX-Terity-Overview.jpg' %}" class="img-fluid" alt="">
          </div>
		  
          <div class="col-lg-6 pt-4 content d-flex flex-column text-center" data-aos="fade-up" data-aos-delay="100">
            <h3>What is Dex-Terity?</h3>
            <p class="fst-italic">
              These is the stastics section
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
		<div class="row">
			<div class="col-12 text-center"><a href="additionaldetails" class="btn btn-lg text-white rounded-pill" style="background-color:#2a6379;">Launch Dex-Terity</a></div>
		</div>
      </div>
    </section><!-- End What is Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer class="footer-top border-top border-2">
	<section id="about" class="about">
	  <div class="container" data-aos="fade-up">
		<div class="row">
          <div class="col-10 offset-1 footer-links text-center">
            <h4>About us</h4>
            <p>
			  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
          </div>
        </div>
		<div class="row justify-content-center">
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 text-lg-end text-md-end text-center m-1 border">
				<img class="img-fluid" src="{% static 'admin-lte/assets/img/CGLRlogo.png' %}" alt="CGLR" title="Council of the Great Lakes Region">
			</div>
			<div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 text-lg-start text-md-start text-center m-1 border">
				<img class="img-fluid" src="{% static 'admin-lte/assets/img/PollutionProbeLogo.png' %}" alt="Pollution Probe" title="Pollution Probe">
			</div>
		</div>
  
		<div class="container py-4">
		  <div class="copyright col-lg-12 text-center">
			&copy; Copyright 2022
		  </div>
		</div>
	  </div>
	</section><!-- End About Section -->
	
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'admin-lte/assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'admin-lte/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'admin-lte/assets/js/main.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js "></script>
  <script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
  <script src="https://js.arcgis.com/4.23/"></script>
  <script src="{% static 'admin-lte/assets/js/arcgisjs/arcgisjs.js' %} "></script>
  <script src="{% static 'admin-lte/assets/js/arcgisjs/hotspotarcgis.js' %} "></script>
  
  <script>
	function activateProfile(){
		document.getElementById("tprofile").classList.remove('disabled');
	}
	function activateFinish(){
		document.getElementById("tfinish").classList.remove('disabled');
	}
  </script>

</body>

</html>