{% load static %}
<!DOCTYPE html>
<html lang="en">

<style>
  html,
  body,
  #viewDiv, #hotspotDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }

  .float {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 200px;
        right: 20px;
        background-color: #0C9;
        color: #FFF;
        border-radius: 50px;
        text-align: center;
        box-shadow: 2px 2px 3px #999;
        z-index: 1000;
    }

    .my-float {
        margin-top: 22px;
    }
</style>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>WMS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'admin-lte/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'admin-lte/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  <link href="{% static 'admin-lte/bootstrap/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'admin-lte/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'admin-lte/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin-lte/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'admin-lte/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin-lte/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'admin-lte/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://js.arcgis.com/4.23/esri/themes/light/main.css">

  <!-- Template Main CSS File -->
  <link href="{% static 'admin-lte/assets/css/style.css' %}" rel="stylesheet">

  <!-- Plotly graphs -->
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="/">DEX-Terity</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#features">Features</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#hotspot">Hotspots</a></li>
          <li><a class="nav-link scrollto " href="#statistics">Statistics</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="nav-link scrollto" href="/logincontroller">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center" data-aos="zoom-out">
   <!-- <div class="container" data-aos="zoom-out" data-aos-delay="100"> -->
       <!-- <h1>Welcome to <span>Dex-Terity</span></h1>
      <h2>It needs a plan to preserve water</h2>
      <div class="d-flex" style="margin-left:80%;">
        <a href="#hotspot" class="btn-get-started scrollto">Explore</a>
      </div>
    </div> -->

    <!-- trying carousel -->
    <!-- <div id="carouselExampleCaptions" class="carousel slide"  data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-size: cover;">
          <img src="static\admin-lte\assets\img\hero-bg.jpg" class="d-block w-100" alt="..." style="opacity: 0.4;">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="text-primary">Welcome to DEX-Terity</h3>
            <h4 class="text-dark">It needs a plan to preserve water</h4>
          </div>
        </div>
        <div class="carousel-item">
          <img src="static\admin-lte\assets\img\map_slide2.png" class="d-block w-100" alt="..." style="opacity: 0.4;">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="text-primary">Map Layers</h3>
            <h4 class="text-dark">The perfect geographical demonstration with Land classification and many more!</h4>
            <div>
              <a href="#hotspot" class="btn-get-started scrollto">Explore</a>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <img src="static\admin-lte\assets\img\map_slide3.png" class="d-block w-100" alt="..." style="opacity: 0.4;">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="text-primary">Analyse data</h3>
            <h4 class="text-dark">Variety of graphs for data analysis on your own data.</h4>
            <div>
              <a href="#statistics" class="btn-get-started scrollto">Explore</a>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> -->
    <!-- trying arc gis map view from this section -->
    <div id="viewDiv">

    </div>
    <a class="float" style="cursor : pointer;" title="DeX-Terity map year selected: {{yearselected}}" data-bs-toggle="tooltip" data-bs-placement="top" id="searchYearOnMainMapHome">
      <i class="fa fa-search my-float"><br><span style="font-size:10px; color:black;">Year:{{yearselected}}</span></i>
    </a>
    <!-- </div> -->
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="features" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <h4 class="title"><a href="/logincontroller">UPLOAD</a></h4>
              <p class="description">Drop excel sheet with required features</p>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <h4 class="title"><a href="/logincontroller">PREDICTION</a></h4>
              <p class="description">Predict phosphorus with 85% accuracy</p>
            </div>
          </div>

          <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <h4 class="title"><a href="/logincontroller">VISUALIZATION</a></h4>
              <p class="description">Filter features and visualize through graphs and maps</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Featured Services Section -->

    
    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About</h2>
          <h3>Find Out More <span>About Us</span></h3>
          <p>It needs a plan to preserve water</p>
        </div>

        <div class="row">
          <div class="col-lg-12 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Hotspot Section ======= -->
    <section id="hotspot" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
            data-aos-delay="100">
            <h3>HOTSPOT STATIONS</h3>
            <p class="fst-italic">
              These are the stations where the amount of TotalPhosphorus and TotalNitrogen are noted higher than it
              should be(As per WHO and ODWQS)
            </p>
            <p>
              After analyzing the 2000 to 2020 years data of different locations in our study region, we found hotspots that have recording above an acceptable range of target contaminants (Total Phosphorus and Total Nitrogen) that range would lead to degraded water quality and cause the bad impacts on the environment. 

The study region is highlighted over a map and red markers are representing the exact hotspot locations where the precautionary steps must be taken to control the contaminants and maintain the water quality.
            </p>
          </div>
          <div class="col-lg-2">
            <label class="text-primary font-weight-bold">Select a year</label>
            <span>
              <select class="form-control yearFrom">

              </select>
            </span>
            <div><i class="bx bxs-map text-danger"><small>Hotspots</small></i></div>
            <div><i class="bx bxs-map text-success"><small>Normal spots</small></i></div>
         
          </div>
          <div class="col-lg-6 col-md-6 col-xs-12">
            <div id="hotspotDiv"></div>
            <!-- <div class="col-lg-12"><i class="bx bxs-map text-danger"><small>Hotspots</small></i> &nbsp; &nbsp; &nbsp;<i class="bx bxs-map text-success"><small>Normal spots</small></i></div> -->
          </div>
          <!-- <div class="col-md-10">
            <div id="viewDiv"></div>
          </div> -->
        </div>

      </div>
    </section><!-- End hotspot Section -->

    <!-- ======= statistics Section ======= -->
    <section id="statistics" class="services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-7" data-aos="fade-right" data-aos-delay="100">
            <!--            <img src="{% static 'admin-lte/assets/img/graphs.jpg' %}" class="img-fluid" alt="">-->
            <div id="plotP"></div>
          </div>

          <div class="col-lg-5 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
            data-aos-delay="100">
            <h3>TOTALPHOSPHORUS</h3>
            <p class="fst-italic" style="font-size:14px;">
              The graphs shows amount of TotalPhosphorus noted a year
            </p>
            <p>
              The yearly average data to get an idea about the total Phosphorus for all the study regions and as per the statistics 2004, 2008, 2015 and 2018 has recorded the highest concentration of TP in water which stats that as the years are passing the TP in water increasing gradually.

NOTE: Too much Phosphorus can cause increased growth of algae and large aquatic plants, which can result in decreased levels of dissolved oxygen– a process called eutrophication. 
            </p>
          </div>
          <div class="row">
            <div class="col-lg-5 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up"
              data-aos-delay="100">
              <h3>TOTALNITROGEN</h3>
              <p class="fst-italic" style="font-size:14px;">
                The graphs shows amount of TotalNitrogen noted a year
              </p>
              <p>
                The yearly average data to get an idea about the total Nitrogen for all the study regions and as per the statistics, 2000 and 2001 has almost 0 mg/L TN while as the years passed the TN fluctuated a lot and lastly, the lowest concentration was recorded on 2012, later it again raised high to a maximum of all years in 2018 and 2019.

NOTE: Excess nitrogen can cause overstimulation of the growth of aquatic plants and algae. Excessive growth of these organisms, in turn, can clog water intakes, use up dissolved oxygen as they decompose, and block light to deeper waters.  
              </p>
            </div>
            <div class="col-lg-7" data-aos="fade-right" data-aos-delay="100">
              <!--            <img src="{% static 'admin-lte/assets/img/graphs.jpg' %}" class="img-fluid" alt="">-->
              <div id="plotN"></div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End statistics Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <h3>Data sources</h3>
          <div>&nbsp;</div>
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'admin-lte/assets/img/waterqtytrca.jpg' %}" style="width:350px;height:190px;"
                  class="testimonial-img" alt="">
                <h3>TRCA Water Quality Data</h3>
                <p>Water Quality data from monthly grab samples collected
                  at 90+ sites across more than nine watersheds in Toronto and Region
                  Conservation Authority’s (TRCA) jurisdiction. Samples are collected
                  monthly following the Provincial.. <a href="https://data.trca.ca/dataset?tags=Quality"
                    target="_blank">Read more...</a></p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'admin-lte/assets/img/clocawaterquality.jpg' %}" style="width:350px;height:190px;"
                  class="testimonial-img" alt="">
                <h3>CLOCA Water Quality Data</h3>
                <p>Water Quality data from in-situ sampling taken from 36
                  sampling sites within the Central Lake Ontario Conservation
                  authority jurisdiction. Samples were collected monthly during the
                  summer months from 2017 – 2020 following the Provincial Water
                  Quality Monitoring Network Protocol. <a href="https://open-data.cloca.com/" target="_blank">Read
                    more...</a></p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'admin-lte/assets/img/provincialwaterqualitynetwork.jpg' %}"
                  style="width:350px;height:190px;" class="testimonial-img" alt="">
                <h3>Provincial Water Quality Monitoring Network Data</h3>
                <p>Over 400 locations are currently monitored in
                  partnership with Ontario's Conservation Authorities, participating
                  municipalities and provincial parks. Partners collect water samples on
                  an approximately monthly basis and deliver them to the Ministry's
                  laboratory where they are analyzed for a suite of water quality
                  indicators. <a
                    href="https://data.ontario.ca/dataset/provincial-stream-water-quality-monitoring-network"
                    target="_blank">Read more...</a></p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'admin-lte/assets/img/environmentalclimatedata.jpg' %}"
                  style="width:350px;height:190px;" class="testimonial-img" alt="">
                <h3>Environment and Climate Change Canada</h3>
                <p>Daily climate observations are derived from two sources
                  of data, both accessible as Historical Data from ECCC. The first are

                  Climate Station daily summaries recording total precipitation, mean,
                  min and max air temperatures. The second are hourly records that
                  typically produce more weather elements e.g. wind or snow on
                  ground. <a href="https://www.canada.ca/en/environment-climate-change.html" target="_blank">Read
                    more...</a></p>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{% static 'admin-lte/assets/img/ontariowaterbodyboundaries.jpg' %}"
                  style="width:350px;height:190px;" class="testimonial-img" alt="">
                <h3>Ontario Watershed Boundaries</h3>
                <p>The Ontario Watershed Boundaries (OWB) collection
                  represents the authoritative watershed boundaries for Ontario. The
                  data is based on a framework similar to the Atlas of Canada
                  Fundamental Drainage Areas and the United States Watershed
                  Boundary Dataset, however it adopts a more stringent scientific
                  approach to watershed delineation. <a
                    href="https://geohub.lio.gov.on.ca/maps/mnrf::ontario-watershed-boundaries-owb/explore?location=40.397199%2C-82.339420%2C2.74"
                    target="_blank">Read more...</a></p>
              </div>
            </div><!-- End testimonial item -->

          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <h3><span>Contact Us</span></h3>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-4">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Our Address</h3>
              <p>123 Dex-Terity, Toronto, ON M2J 1S5</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Email Us</h3>
              <p>contact@dexterity.com</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Call Us</h3>
              <p>+1 647 868 5896</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11523.76084718353!2d-79.33659796681101!3d43.77409990994631!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d3bca1a3f78f%3A0x815365ed6c3b957e!2sLambton%20College%20In%20Toronto!5e0!3m2!1sen!2sin!4v1652037250936!5m2!1sen!2sin" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

          <div class="col-lg-6">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact"></div>
          <div class="col-lg-3 col-md-6 footer-links"></div>
          <div class="col-lg-3 col-md-6 footer-links"></div>

          <div class="col-lg-3 col-md-6 footer-links">
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container py-1">
      <div class="copyright">
        &copy; Copyright 2022
      </div>
    </div>

  </footer><!-- End Footer -->

  <input type="hidden" id="stationid">
  <input type="hidden" id="yearselectedinputhidden" value="{{yearselected}}">

  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  </div>

  <div class="modal fade" id="demographicsGraphModal">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Station ID: <span id="stationdisplaymodalbox"></span><span>,
              Year:{{yearselected}}</span></h4>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <span style="font-weight: bold;">Sampling site : </span><span id="totalsamplingsitelatitudeid"
                style="font-weight: bold;"></span><span style="font-weight: bold;">&#176;N</span><span
                id="totalsamplingsitelongitudeid" style="font-weight: bold; padding-left:5px; "></span><span
                style="font-weight: bold;">&#176;W</span><br>
              <span style="font-weight: bold;">Total sq.km : </span><span id="totalsqkmid"
                style="font-weight: bold;"></span><sup style="font-weight: bold;">2</sup><br>
              <span style="font-weight: bold;">Drainage basin : </span><span id="drainagebasinid"
                style="font-weight: bold;"></span><sup style="font-weight: bold;">2</sup><br>
              <span style="font-weight: bold;">Population : </span><span id="populationid"
                style="font-weight: bold;"></span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12" id="land-usechart"></div>
          </div>
          <div class="row">
            <div class="col-lg-12" id="soildatagraph"></div>
          </div>
          <div class="row">
            <div class="col-lg-12"><canvas id="meantemperaturedivision" style="width:100%;max-width:600px"></canvas>
            </div>
          </div>
          <div class="row">
            <div id="meanmaxrainfalldivision" class="col-lg-12"></div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>

  <div class="modal fade" id="searchYearOnMainMapHomeModal">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Search map</h4>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <label class="text-primary font-weight-bold">Select a year</label>
          <div>&nbsp;</div>
          <select class="form-control yearFrommainmap">

          </select>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" id="buttonIdSearchMap">Search</button>
        </div>
      </div>
    </div>
  </div>

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'admin-lte/assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'admin-lte/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'admin-lte/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'admin-lte/assets/js/main.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js "></script>
  <script src="https://cdn.plot.ly/plotly-2.11.1.min.js"></script>
  <script src="https://js.arcgis.com/4.23/"></script>
  <script src="{% static 'admin-lte/assets/js/arcgisjs/arcgisjs.js' %} "></script>
  <script src="{% static 'admin-lte/assets/js/arcgisjs/hotspotarcgis.js' %} "></script>
  <script>
    var jsonpointfile = {{ jsonvalue| safe }};
    $(document).ready(function () {
      var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
      var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
      });
      var regionrenderurl = "{{regiondemographicrenderurl|safe}}";
      loadmapvalues(1, jsonpointfile, 'localhost:8000', regionrenderurl, "{{yearselected}}", "{{baseimgurl}}");
      hotspotfunction(1, jsonpointfile, 'localhost:8000', regionrenderurl, "{{yearselected}}", "{{baseimgurl}}");
      handleResize();
      $(window).bind('resize', handleResize);

      var yearlist = ["2020", "2019", "2018", "2017", "2016"];
      yearselectbox = "<option value='' disabled selected>Select a year</option>";
      for (let j = 0; j < yearlist.length; j++) {
        if (yearlist[j] == "{{yearselected}}") {
          yearselectbox += "<option value=" + yearlist[j] + " selected>" + yearlist[j] + "</option>";
        } else {
          yearselectbox += "<option value=" + yearlist[j] + ">" + yearlist[j] + "</option>";
        }
      }

      $(".yearFrom").html(yearselectbox);
      $(".yearFrommainmap").html(yearselectbox);

      $(document).on('change', '.yearFrom', function () {
        var yearselected = $(this).val();
        window.location.href = '/filteryear/' + yearselected + "#hotspot";
      });

      $(document).on('click', '#searchYearOnMainMapHome', function(){
          $('#searchYearOnMainMapHomeModal').modal('show');
      });

      $(document).on('click', '#buttonIdSearchMap', function(){
        var yearselected = $(".yearFrommainmap").val();
        window.location.href = '/filteryear/' + yearselected;
      });
      
    });

    function handleResize(){
        $("#hero").height($(window).height());
    }
  </script>
  
</body>

</html>