{% extends 'adminlte/base.html' %}


{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4">
      <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Study details</h6>
      </div>
      <div class="card-body">
        <p style="font-size:16px">Parameter selected: <span id="parameterselectedid" style="color:blue"></span></p>
        <p style="font-size:16px">Model used: <span id="modelusedid"style="color:blue"></span></p>
        <p style="font-size:16px">Study done at: <span id="studytimeid" style="color:blue"></span></p>
        <p style="font-size:16px">Time taken for study: <span id="studytakentimeid" style="font-size:14px; color:blue"></span></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="card w-100 p-3" data-toggle="popover" title="Phosphorus graph"
        data-content="The default graph is plotted using pretrained data. It will plotted accoding to your data when you will predict parameter by uploading your data. Please include years to get accurate result.">
        <div class="card-body w-100 p-3">
          <canvas id="population-chart" data-url="{% url 'Predicted-variable' %}" height="250"></canvas>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card w-100 p-3" data-toggle="popover" title="Nitrogen graph"
        data-content="The default graph is plotted using pretrained data. It will plotted accoding to your data when you will predict parameter by uploading your data. Please include years to get accurate result.">
        <div class="card-body w-100 p-3">
          <canvas id="nitrogen-chart" data-url="{% url 'Predicted-nitrogen' %}" height="250"></canvas>
        </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <button id="gobacktoanalysis" class="btn btn-primary"><i class="fa fa-arrow-left"></i><span
          style="padding-left:5px">Go back</span></button>
      <button id="DownloadResults" class="btn btn-success"><i class="fa fa-download"></i><span
          style="padding-left:5px">Download result</span></button>
    </div>
  </div>
</div>


{% endblock %}

{% block javascriptedit %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script src="static/admin-lte/dist/js/models.js"></script>

<script>

  $(document).ready(function () {
    var parameterselected = sessionStorage.getItem('parameterselected');
    var modelused = sessionStorage.getItem('modelused');
    var studytime = sessionStorage.getItem('studytime');
    var studytakentime = sessionStorage.getItem('studytakentime');
    $("#parameterselectedid").html(parameterselected);
    $("#modelusedid").html(modelused);
    $("#studytimeid").html(studytime);
    $("#studytakentimeid").html(studytakentime);
    $(document).on('click', '#gobacktoanalysis', function () {
      window.location.href = window.location.origin + '/uploaddata';
    });
  });

  $(function () {

    var $populationChart = $("#population-chart");
    $.ajax({
      url: $populationChart.data("url"),
      success: function (data) {

        var ctx = $populationChart[0].getContext("2d");

        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Phosphorus',
              backgroundColor: '#0275d8',
              data: data.data
            }]
          },
          options: {
            responsive: true,
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Total Phosphorus'
            }
          }
        });

      }
    });

  });

  $(function () {

    var $populationChart = $("#nitrogen-chart");
    $.ajax({
      url: $populationChart.data("url"),
      success: function (data) {

        var ctx = $populationChart[0].getContext("2d");

        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: data.labels,
            datasets: [{
              label: 'Nitrogen',
              backgroundColor: '#0275d8',
              data: data.data
            }]
          },
          options: {
            responsive: true,
            legend: {
              position: 'top',
            },
            title: {
              display: true,
              text: 'Total Nitrogen'
            }
          }
        });

      }
    });

  });


</script>


{% endblock %}