{% extends 'adminlte/new_dashboard_base.html' %}
{% load static %}
{% block content %}

<!-- <div class="container p-0 m-0"> -->
    <div class="row no-gutters">
        <h1 class="pl-5 text-primary" style="font-family: Poppins;">Welcome to DeX-Terity</h1>
    </div>
    <div class="card-deck">
        <div class="card text-white bg-primary mb-3" style="width: 25%; border-radius: 0; border: 0;">
            <div class="card-header p-4" style="background-color: rgba(14,92,134,1);">Overview</div>
            <div class="card-body" style="background-color: rgba(235,235,235,1);">
                <p class="card-text font-weight-normal text-secondary">
                    A machine-learning, data-intensive analytical tool, DeX-Terity provides hindsight, insight and
                    foresight
                    into the complexities of watershed health. Our platform analyzes multidisciplinary data to explain
                    and
                    visualize the impacts of a variety of anthropogenic stressors, predicting trends over time and
                    prescribing actions today to protect and improve water quality and watershed health into the future
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="width: 25%; border-radius: 0; border: 0;">
            <div class="card-header p-4" style="background-color: rgba(46,108,108,1);">Why use it?</div>
            <div class="card-body" style="background-color: rgba(235,235,235,1);">
                <p class="card-text font-weight-normal text-secondary">
                    A machine-learning, data-intensive analytical tool, DeX-Terity provides hindsight, insight and
                    foresight
                    into the complexities of watershed health. Our platform analyzes multidisciplinary data to explain
                    and
                    visualize the impacts of a variety of anthropogenic stressors, predicting trends over time and
                    prescribing actions today to protect and improve water quality and watershed health into the future
                </p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3" style="width: 25%; border-radius: 0; border: 0;">
            <div class="card-header p-4" style="background-color: rgba(104,167,95,1);">How does it work?</div>
            <div class="card-body" style="background-color: rgba(235,235,235,1);">
                <p class="card-text font-weight-normal text-secondary">
                    A machine-learning, data-intensive analytical tool, DeX-Terity provides hindsight, insight and
                    foresight
                    into the complexities of watershed health. Our platform analyzes multidisciplinary data to explain
                    and
                    visualize the impacts of a variety of anthropogenic stressors, predicting trends over time and
                    prescribing actions today to protect and improve water quality and watershed health into the future
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <p class="p-4 text-secondary">
            Learn about our pilot region using data from the Central Lake Ontario Conservation Area (CLOCA) <br>
            and the Toronto and Region Conservation Authority (TRCA).
        </p>
    </div>

    <div class="row">
        <div class="col-4">
            <p class="text-white p-5"
                style=" font-size: 35px; background-color: rgba(46,108,108,1); padding-left: 5px; padding-right: 5px; padding-top: 8; padding-bottom: 8px;">
                Explore our<br>
                pilot your way<br>
                and get to know<br>
                our Features<br>
            </p>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-6">
                    <p class="text-secondary font-weight-normal p-5"
                        style=" background-color: rgba(235,235,235,1); padding-left: 5px; padding-right: 5px; padding-top: 8; padding-bottom: 8px;">
                        Navigate our<br>
                        map tool and Data sources
                    </p>
                </div>
                <div class="col-6">
                    <p class="text-white font-weight-normal p-5"
                        style=" background-color: rgba(141,139,139,1); padding-left: 5px; padding-right: 5px; padding-top: 8; padding-bottom: 8px;">
                        Analyse our historical<br>
                        data
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p class="text-white font-weight-normal p-5"
                        style=" background-color: rgba(141,139,139,1); padding-left: 5px; padding-right: 5px; padding-top: 8; padding-bottom: 8px;">
                        Upload your <br>
                        own data & Predict
                    </p>
                </div>
                <div class="col-6">
                    <p class="text-secondary font-weight-normal p-5"
                        style=" background-color: rgba(235,235,235,1); padding-left: 5px; padding-right: 5px; padding-top: 8; padding-bottom: 8px;">
                        Predict % Prescribe using our <br>
                        historical data
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" style="margin-left: 30px; margin-top: 20px; margin-bottom: 20px;">
        <div class="row">
            <p class=" pt-5 text-primary">
                Powered by:
            </p>
        </div>
        <div class="row ">
            <div class="col-2">
                <img src="static/admin-lte/assets/img/new_d/CGLR_logo.png" alt="">
            </div>
            <div class="col-2">
                <img src="static/admin-lte/assets/img/new_d/pollution_probe.png" alt="">
            </div>
        </div>
        <div style="padding: 40px;"></div>
    </div>

<!-- </div> -->

{% endblock %}