{% extends 'adminlte/new_dashboard_base.html' %}
{% load static %}
{% block content %}

<!-- <div class="container p-0 m-0"> -->
<div class="row no-gutters">
    <h1 class="pl-5 text-primary" style="font-family: Poppins;">Welcome to DeX-Terity</h1>
</div>
<div class="card-deck">
    <div class="card text-white bg-primary mb-3" style="width: 25%; border-radius: 0; border: 0; height: 350px;">
        <div class="card-header p-4" style="background-color: rgba(14,92,134,1); font-family: Poppins;">What is
            DeX-Terity?</div>
        <div class="card-body" style="background-color: rgba(235,235,235,1); font-family: Poppins;">
            <p class="card-text font-weight-normal text-secondary">
                A machine-learning, data-intensive analytical tool, DeX-Terity provides hindsight, insight and
                foresight
                into the complexities of watershed health. Our platform analyzes multidisciplinary data to explain
                and
                visualize the impacts of a variety of anthropogenic stressors, predicting trends over time and
                prescribing actions today to protect and improve water quality and watershed health into the future
            </p>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3" style="width: 25%; border-radius: 0; border: 0;">
        <div class="card-header p-4" style="background-color: rgba(46,108,108,1); font-family: Poppins;">Why use
            DeX-Terity?</div>
        <div class="card-body" style="background-color: rgba(235,235,235,1); font-family: Poppins;">
            <p class="card-text font-weight-normal text-secondary">
                DeX-Terity can help you compare and visualize a wide range of environmental and socioeconomic data, and understand watershed trends and impacts in real-time! The platform provides the hindsight, insight and foresight critical for predicting potential risks to water quality and watershed health before they happen and prescribing sustainable actions.
            </p>
        </div>
    </div>
    <div class="card text-white bg-primary mb-3" style="width: 25%; border-radius: 0; border: 0; ">
        <div class="card-header p-4" style="background-color: rgba(104,167,95,1); font-family: Poppins;">How does
            DeX-Terity work?</div>
        <div class="card-body" style="background-color: rgba(235,235,235,1); font-family: Poppins;">
            <p class="card-text font-weight-normal text-secondary">
                DeX-Terity's machine learning models find patterns In historical data, connecting a wide range of
                varlables
                with specific targets (e.g.,water quality metrics) to understand potential Impacts at different
                spatial resolutions (e.g., conservation authority boundarles, watershed, etc.). The platform's models
                are
                also trained to adjust the weight of each varlable, In order to make predictions about new or unseen
                data.
            </p>
        </div>
    </div>
</div>

<div class="row mb-5">
    <div class="col-4">
        <p class="text-white p-5" style=" font-size: 139.6%; background-color: rgba(46,108,108,1); font-family: Poppins;">
            DeX-Terity provides
            hindsight, insight and
            foresight into the
            complexities of watershed
            health. Explore our
            Describe, Analyze, Predict
            and Prescribe tools
        </p>
    </div>
    <div class="col-8 no-gutters">
        <div class="row">
            <div class="col-6">
                <p class="text-secondary font-weight-normal p-5"
                    style=" background-color: rgba(235,235,235,1); padding-left: 5px; padding-right: 5px; padding-top: 8; padding-bottom: 8px; font-family: Poppins;">
                    1. View a variety of different data<br>
                    using our map tool
                </p>
            </div>
            <div class="col-6">
                <p class="text-secondary font-weight-normal p-5"
                    style=" background-color: rgba(235,235,235,1); padding-left: 5px; padding-right: 5px; padding-top: 8; padding-bottom: 8px; font-family: Poppins;">
                    2. Analyze changes to water quality<br>
                    variables over time
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <p class="text-secondary font-weight-normal p-5"
                    style=" background-color: rgba(235,235,235,1); padding-left: 5px; padding-right: 5px; padding-top: 8; padding-bottom: 8px; font-family: Poppins;">
                    3. Forecast environmental and <br>
                    societal risks and trends
                </p>
            </div>
            <div class="col-6">
                <p class="text-secondary font-weight-normal p-5"
                    style=" background-color: rgba(235,235,235,1); padding-left: 5px; padding-right: 5px; padding-top: 8; padding-bottom: 8px; font-family: Poppins;">
                    4. Prescribe watershed protection <br>
                    action
                </p>
            </div>
        </div>
    </div>
</div>


<!-- <div class="container" style="margin-left: 30px; margin-top: 20px; margin-bottom: 20px;">
    <div class="row ">
        <div class="col-2">
            <img src="static/admin-lte/assets/img/new_d/CGLR_logo.png" alt="">
        </div>
        <div class="col-2">
            <img src="static/admin-lte/assets/img/new_d/pollution_probe.png" alt="">
        </div>
    </div>
    <div style="padding: 40px;"></div>
</div> -->

<!-- </div> -->

{% endblock %}