{% extends 'adminlte/new_dashboard_base.html' %}
{% load static %}
{% block extra_cssheader %}
<link href="{% static 'admin-lte/assets/nouislider/dist/nouislider.css'%}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

{% endblock %}
{% block content %}

<div class="container font-weight-light">
    <div class="row h2 ml-3 text-primary">
        Predict tool
    </div>
    <div class="row ml-3">
        <p class="text-primary">Select Predict to </p>
    </div>

    <div class="row">
        <div class="col-lg p-2" style="background-color: rgba(228,228,228,1);">
            <p class="text-primary"> 1. Select Target Parameter</p>
            <p class="text-secondary"> Total Phosphorous (TP) or Total Nitrogen (TN)</p>
        </div>
        <div class="col-lg p-2 d-flex justify-content-center" style="background-color: rgba(235,235,235,0.678);">
            <div class="m-3 btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn  active">
                    TP
                </label>
                <input type="radio" name="options" id="TP" autocomplete="off" checked> 

                <label class="btn ">
                     TN
                </label>
                <input type="radio" name="options" id="TN" autocomplete="off"> 

                <!-- <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" id="TP" class="btn btn-primary">TP</button>
                    <button type="button" id="TN" class="btn btn-primary">TN</button>
                  </div> -->

            </div>
        </div>
    </div>

    <div class="row mt-3">
            <div class="col-lg p-2" style="background-color: rgba(228,228,228,1);">
                <p class="text-primary"> 2. Select the years to predict</p>
                <p class="text-secondary"> Further explanation </p>
            </div>
            <div class="col-lg p-2 d-flex justify-content-center" style="background-color: rgba(235,235,235,0.678);">
                <div class="mt-4" id="slider" style="width: 100%;"></div>
                <label id="slider-limit-value-min"> </label>
                <label id="slider-limit-value-max"> </label>

            </div>
    </div>

    <div class="row d-flex justify-content-center mt-4">
        <button class="btn btn-primary rounded-pill pl-4 pr-4 " id="predict" onclick=""> Predict </button>
    </div>

    <div class="row" id="predicted_graph" name="predicted_graph">

    </div>

    <div class="row d-flex justify-content-center mt-4">
        <p class="text-secondary">Get your predicted results in CVS/EXCEL format</p>
    </div>

    <div class="row d-flex justify-content-center mt-4">
        <button class="btn btn-outline-primary  rounded-pill pl-4 pr-4 " onclick=""> Download <i class="fas fa-download"></i> </button>
    </div>
    
</div>


{% endblock %}

{% block javascriptedit %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'admin-lte/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin-lte/bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.3.0/mdb.min.js"></script>
<script src="{% static 'admin-lte/assets/nouislider/dist/nouislider.js'%}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script>
    var slider = document.getElementById('slider');

noUiSlider.create(slider, {
    start: [2005, 2045],
    step: 1,
    connect: true,
    tooltips: [true, true],
    range: {
    'min': 2000,
    'max': 2050
  },

  pips: {
        mode: 'steps',
        density: 3,
    
    }
    
});

document.getElementById('predict').addEventListener('click', function () {
    var selected_years = (slider.noUiSlider.get());
    var var_to_predict;
    if (document.getElementById('TP').checked) {
        var_to_predict = 'TP';
    }
    if (document.getElementById('TN').checked) {
        var_to_predict = 'TN';
    }
    console.log(var_to_predict);
    $.ajax({
        type: 'get',
        url: '/getPredictionOutput',
        data: {'yearFrom': parseInt(selected_years[0]), 'yearTo': parseInt(selected_years[1]), 'selected':var_to_predict},
        // contentType: false,
        // processData: false,
        // headers: { "X-CSRFToken": csrftoken },

        success: function (data) {
            console.log(data.status);
        },
        error: function (error) {
            console.log("Error" + JSON.stringify(error));
        }
    });
});

</script>


{% endblock %}