{% extends 'adminlte/new_dashboard_base.html' %}
{% load static %}
{% block extra_cssheader %}
<link href="{% static 'admin-lte/assets/nouislider/dist/nouislider.css'%}" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<style>
    .tooltipdiv {
  display: block;
  position: absolute;
  bottom: 35px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #fff;
  color: #000;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}
</style>

{% endblock %}
{% block content %}

<div class="container font-weight-light">
    <div class="row h2 m1-3 text-primary">
        Prescribe
    </div>
    <div class="row">
        <p class="text-primary">Use DeX-Terity tools to explore potential watershed impacts under various future
            environmental and socioeconomic growth scenarios.</p>
    </div>

    <div class="row">
        <div class="col-lg p-2" style="background-color: rgba(228,228,228,1);">
            <p class="text-primary"> 1. Select Target Indicator</p>
            <p class="text-secondary"> Choose the indicator that you would like to predict: Total Nitrogen (TN) or Total
                Phosphorus (TP)</p>
        </div>
        <div class="col-lg p-2 d-flex justify-content-center" style="background-color: rgba(235,235,235,0.678);">
            <div class="d-flex flex-row">
                <div class="d-flex align-items-center m-2">
                <input type="radio" name="options" id="TP" checked >
                <label for="TP"> TP</label><br></div>
                <div class="d-flex align-items-center m-2">
                <input type="radio" name="options" id="TN" >
                <label for="TN"> TN</label>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row mt-3">
        <div class="col-lg p-2" style="background-color: rgba(228,228,228,1);">
            <p class="text-primary"> 2. Select Station ID</p>
            <p class="text-secondary"> Further explanation </p>
        </div>
        <div class="col-lg p-2 d-flex justify-content-center" style="background-color: rgba(235,235,235,0.678);">
            <select class="p-3 pl-5 pr-5 form-select" name="year" id="station" style="border-radius: 20px;"
                aria-label="Default select example">
                <option selected>Select station</option>

            </select>

        </div>
    </div> -->

    <div class="row pt-1 pb-3">
        <table class="table table-bordered">
            <thead>
              <tr >
                <th scope="col"></th>
                <th scope="col" id="th1">Total Phosphorus (mg/L)</th>
                <th scope="col" id="th2">Natural Land (ha)</th>
                <th scope="col" id="th3">Population</th>
                <th scope="col" id="th4">Total Rain (mm) before 7 days
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Year 2020 Baseline value</th>
                <td id="td1">0.064</td>
                <td id="td2">47.68</td>
                <td id="td3">10698</td>
                <td id="td4">0</td>
              </tr>
            </tbody>
          </table>
    </div>

    <div class="row">
        <div class="row h3 text-primary ml-2">
            Choose Scenario
        </div>
        <div class="row ml-2">
            <p class="text-primary">Using the sliding bars, explore environmental and socioeconomic 
                growth scenarios by selecting the percentage change for different indicators. Note that these changes are in relation to our baseline data for 2020.</p>
        </div>
    </div>

    <div class="row mt-3">
        <div class=" col-lg-6  p-2" style="background-color: rgba(228,228,228,1);">
            <p class="text-primary" id="param2"> 2. Select natural land<br></p>
            <p class="text-secondary" id="subtext2">MODIS Natural land in hectares covers Broadleaf forests, Grasslands, Mixed forests, Permanent wetlands, Savannas, Water bodies, and Woody savannas.</p>
        </div>
        <div class=" col-lg-6 pt-3 pb-5 d-flex justify-content-center"
            style="background-color: rgba(235,235,235,0.678);">
            <div id="sliderland" style="width: 100%;"></div>

        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-6 p-2" style="background-color: rgba(228,228,228,1);">
            <p class="text-primary" id="param3"> 3. Select population</p>
            <p class="text-secondary" id="subtext3"></p>
        </div>
        <div class=" col-lg-6 pt-3 pb-5 d-flex justify-content-center"
            style="background-color: rgba(235,235,235,0.678);">
            <div id="sliderpopulation" style="width: 100%;"></div>

        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-6 p-2" style="background-color: rgba(228,228,228,1);">
            <p class="text-primary" id="param4"> 4. Select total rain(mm) over the past seven days</p>
            <p class="text-secondary" id="subtext4"> Total Rain in millimetres (mm) before 7 days of water sample collection.</p>
        </div>
        <div class=" col-lg-6 pt-3 pb-5 d-flex justify-content-center"
            style="background-color: rgba(235,235,235,0.678);">
            <div id="sliderrain" style="width: 100%;"></div>

        </div>
    </div>

    <div class="row d-flex justify-content-center mt-4 mb-4">
        <button class="btn btn-primary rounded-pill pl-4 pr-4 " id="predict" onclick=""> Get </button>
    </div>


    <div class="row d-flex justify-content-center col-12 m-2" id="prediction_msg">

    </div>

   


</div>
<div class="row d-flex justify-content-center col-12 mb-5" id="placeimage" style="height: 370px;">

</div>
<div class="row d-flex justify-content-center mt-4 mb-4">
    <button class="btn btn-primary rounded-pill pl-4 pr-4 " id="pagereload" onClick="window.location.reload();"> Change Filters </button>
</div>


{% endblock %}

{% block javascriptedit %}
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'admin-lte/bootstrap/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'admin-lte/bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script type="text/javascript" src="static/admin-lte/dist/js/analysis.js"></script>
<script src="{% static 'admin-lte/bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<link href="https://api.tiles.mapbox.com/mapbox-gl-js/v2.6.1/mapbox-gl.css" rel="stylesheet" />

<!-- Core plugin JavaScript-->
<script src="{% static 'admin-lte/bootstrap/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'admin-lte/bootstrap/js/sb-admin-2.min.js' %}"></script>
<script src="{% static 'admin-lte/assets/nouislider/dist/nouislider.js'%}"></script>

<script>
function eraseCache(){
  window.location = window.location.href+'?eraseCache=true';
}
$(document).ready(function () {
    $('#pagereload').hide();
    $('#TP').change(function()  {
        console.log("TP clicked")
        $('#param2').text('2. Select Natural Land');
        $('#subtext2').text('MODIS Natural land in hectares covers Broadleaf forests, Grasslands, Mixed forests, Permanent wetlands, Savannas, Water bodies, and Woody savannas.');
        $('#param3').text('3. Select Population');
        $('#subtext3').text('');
        $('#param4').text('4. Total Rain (mm) Before 7 days');
        $('#subtext4').text('Total Rain in millimetres (mm) before 7 days of water sample collection');

        $('#th1').text('Total Phosphorus (mg/L)');
        $('#th2').text('Natural Land (ha)');
        $('#th3').text('Population');
        $('#th4').text('Total Rain (mm) before 7 days');
        $('#td1').text('0.064');
        $('#td2').text('47.68');
        $('#td3').text('10698');
        $('#td4').text('0');
    });
    $('#TN').change(function()  {
        console.log("TN clicked")
        $('#param2').text('2. Select Natural Land');
        $('#subtext2').text('TRCA Natural land in hectares covers forest, Successional forest, Meadow, Wetland & Beach/Bluff.');
        $('#param3').text('3. Select Anthropogenic Natural Land');
        $('#subtext3').text('ELC Anthropogenic land in hectares covers Airport, Athletic field, Commercial, Crop field, Golf facility, High-Density Urban Residential, Industrial, & Institutional building.');
        $('#param4').text('4. Select Population');
        $('#subtext4').text('');

        // changing table values over radio select
        $('#th1').text('Total Nitrogen (mg/L)');
        $('#th2').text('Natural Land (ha)');
        $('#th3').text('Anthropogenic Land (ha)');
        $('#th4').text('Population');
        $('#td1').text('1.44');
        $('#td2').text('43153.02');
        $('#td3').text('4770.85');
        $('#td4').text('10698');

    });
    let stations = [28, 29, 30, 85, 3007703502, 6010400102, 6010400802, 6010700202,
        6010800102, 6010800202, 6011100102, 6011100202, 6011100302,
        6011100502, 6011100602, 6011100702, 6011100802, 6011200302,
        6011200602, 6011600102, 6011600202, 6011600502, 6011600602, 988,
        1328, 1329, 1330, 17002113602, 17002113702, 600010258, 600010708,
        600013587, 6008000602, 6008000702, 6008200302, 6008300202,
        6008300402, 6008300902, 6008301202, 6008301802, 6008301902,
        6008310302, 6008310402, 6008500302, 6008500402, 6008501402,
        6009400202, 6009700302, 6009700702, 6009701102, 6009701302,
        6009701802, '6009701802', '6010400102', '6010400802', '6010402302',
        '6010402502', '6010402602', '6010402702', '6010402802',
        '6010402902', '6010403702', '6010700202', '7th Concession', '85',
        'Annadale', 'Brock Ridge', 'CC005', 'Central 1', 'Central 10',
        'Central 11', 'Central 12', 'Central 2', 'Central 3', 'Central 4',
        'Central 5', 'Central 6', 'Central 7', 'Central 8', 'Central 9',
        'East 1', 'East 10', 'East 11', 'East 12', 'East 2', 'East 3',
        'East 4', 'East 5', 'East 6', 'East 7', 'East 8', 'East 9',
        'FB003WM', 'PT001WM', 'Paulyn Park', 'Shoal Point', 'West 1',
        'West 10', 'West 11', 'West 12', 'West 2', 'West 3', 'West 4',
        'West 5', 'West 6', 'West 7', 'West 8', 'West 9'];
    var sliderland = document.getElementById('sliderland');
    var sliderpopulation = document.getElementById('sliderpopulation');
    var sliderrain = document.getElementById('sliderrain');

    // for stations
    var station;
        var stationSelectbox = stationIdSelectbox();
        $("#station").html(stationSelectbox);

        function stationIdSelectbox() {
            var selectboxreturn = "<option value='all' selected>All</option>";
            $(stations).each((index, element) => {
                // console.log(`current index : ${index} element : ${element}`)
                selectboxreturn += "<option value='" + element + "'>" + element + "</option>";
            });
            return selectboxreturn;
        }
        $("#station").change(function () {
            console.log("Station === ", $(this).val());
            globalThis.station = $(this).val();
        });

    function addToolTips(sliderObject){
        var tipHandles = sliderObject.getElementsByClassName("noUi-handle"),tooltips = [];
        
        // Add divs to the slider handles.
        for (var i = 0; i < tipHandles.length; i++) {
            tooltips[i] = document.createElement("div");
            tooltips[i].setAttribute("class", "tooltipdiv");
            tipHandles[i].appendChild(tooltips[i]);
        }

        // When the slider changes, write the value to the tooltips.
        sliderObject.noUiSlider.on("update", function(values, handle, unencoded) {
        // lower-handle = 0; upper-handle = 1
        if (handle == 0){
            tooltips[handle].innerHTML = unencoded[0] + '%';
        }
        else{
            tooltips[handle].innerHTML = unencoded[1] + '%';
        }
        });


    }
    noUiSlider.create(sliderland, {
        start: [-50, 50],
        step: 1,
        connect: true,
        // tooltips: [true, true],
        range: {
            'min': [-100, 1],
            '25%': [-50, 1],
            '50%':[0, 1],
            '75%':[50, 1],
            'max': [100, 1]
        },
        pips: {
            mode: 'range',
            density: 3,

        }
    });
    addToolTips(sliderland);
    noUiSlider.create(sliderpopulation, {
        start: [-50, 50],
        step: 1,
        connect: true,
        // tooltips: [true, true],
        range: {
            'min': [-100, 1],
            '25%': [-50, 1],
            '50%':[0, 1],
            '75%':[50, 1],
            'max': [100, 1]
        },
        pips: {
            mode: 'range',
            density: 3,

        }
    });
    addToolTips(sliderpopulation);
    noUiSlider.create(sliderrain, {
        start: [-50, 50],
        step: 1,
        connect: true,
        // tooltips: [true, true],
        range: {
            'min': [-100, 1],
            '25%': [-50, 1],
            '50%':[0, 1],
            '75%':[50, 1],
            'max': [100, 1]
        },
        pips: {
            mode: 'range',
            density: 3,

        }
    });
    addToolTips(sliderrain);
    document.getElementById('predict').addEventListener('click', function () {
        // erase cache
        // eraseCache();
        // adding loader
        var spinner = '<div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>'
        $('#predict').html(spinner);
        // removing plot if any
        if (document.getElementById('img_plot')){
                document.getElementById('img_plot').remove();
        }
        if (document.getElementById('success_text')){
                document.getElementById('success_text').remove();
        }

        // getting slider value
        var sliderland_ = (sliderland.noUiSlider.get());
        var sliderpopulation_ = (sliderpopulation.noUiSlider.get());
        var sliderrain_ = (sliderrain.noUiSlider.get());
        console.log(sliderland_, sliderpopulation_, parseInt(sliderrain_[0]));
        // preidction var set
        var var_to_predict;
        var param_name;
            if (document.getElementById('TP').checked) {
                var_to_predict = 'TP';
                param_name = 'Total_Phosphorus';
            }
            if (document.getElementById('TN').checked) {
                var_to_predict = 'TN';
                param_name = 'Total_Nitrogen';
            }
        $.ajax({
                type: 'get',
                url: '/getPrescribeOutput/'+var_to_predict+'/'+parseInt(sliderland_[0])+'/'+parseInt(sliderland_[1])+'/'+parseInt(sliderpopulation_[0])+'/'+parseInt(sliderpopulation_[1])+'/'+parseInt(sliderrain_[0])+'/'+parseInt(sliderrain_[1]),
                // data: {'selected': var_to_predict, 'landmin': parseInt(sliderland_[0]), 'landmax': parseInt(sliderland_[1]), 'populationmin':parseInt(sliderpopulation_[0]),
                //         'populationmax':parseInt(sliderpopulation_[1]),  'rainmin':parseInt(sliderrain_[0]), 'rainmax':parseInt(sliderrain_[1])},
                // contentType: false,
                // processData: false,
                // headers: { "X-CSRFToken": csrftoken },

                success: function (data) {
                    $('#predict').text('Get');
                    // console.log(JSON.parse(response["status"]));
                    console.log("status : ", data.status);
                    console.log(data.target_param);
                    console.log(data.dataset_error);

                    if (data.dataset_error == null) {
                        console.log("in ifff");
                        var elem1 = document.createElement('p');
                        elem1.setAttribute('id', "success_text");
                        elem1.setAttribute('class', 'text-success');
                        elem1.innerHTML = "Your scenario has been predicted! See graph(s) below for more information:";
                        document.getElementById("prediction_msg").appendChild(elem1);

                        var elem = document.createElement('img');
                        elem.setAttribute('id', "img_plot");
                        // param_name = ((data.target_param).replace(" ", '_')).replace('(mg/L)', '').trim();
                        elem.setAttribute("src", 'static/admin-lte/dist/js/data/prescribe.png');
                        elem.setAttribute("width", "100%");
                        document.getElementById("placeimage").appendChild(elem);
                        $('#predict').hide();
                        $('#pagereload').show();
                    }
                    else {
                        console.log("in else");
                        var elem = document.createElement('p');
                        elem.setAttribute('id', "img_plot");
                        elem.setAttribute('class', 'text-danger');
                        elem.innerHTML = data.dataset_error;
                        document.getElementById("placeimage").appendChild(elem);
                    }
                },
                error: function (error) {
                    $('#predict').text('Get');
                    console.log("Error" + JSON.stringify(error));
                }
            });
    });
});
</script>


{% endblock %}